@charset "UTF-8";
/* z-indexes */
/* font sizes */
/* font weights */
@-webkit-keyframes loader {
  0% {
    opacity: 1; }
  50% {
    opacity: .15; }
  100% {
    opacity: 1; } }
@keyframes loader {
  0% {
    opacity: 1; }
  50% {
    opacity: .15; }
  100% {
    opacity: 1; } }

.rs3__select-node {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.rs3__container {
  width: 100% !important;
  background: #fff;
  cursor: default;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .rs3__container:focus {
    outline: 2px solid #00a7ff; }
  .rs3__container.error .rs3__selection {
    border-bottom-color: #c54a4a; }
    .rs3__container.error .rs3__selection .rs3__selection-text {
      color: #c54a4a; }
  .rs3__container * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none; }

.rs3__selection {
  border-radius: 0;
  border: 1px solid #e9e9e9;
  display: block;
  font-size: 0.875rem;
  line-height: 1.2em;
  overflow: hidden;
  padding: 1em 1.25em;
  white-space: nowrap; }
  .rs3__selection.rs3__selection--clearable {
    padding-right: 26em; }

.rs3__option--selected {
  background: #00a7ff;
  color: #fff; }

.rs3__selection--placeholder .rs3__selection-text {
  color: #959595; }

.rs3--selected .rs3__selection-text {
  color: #2F80ED; }

.rs3__error {
  color: #f00;
  font-size: 12px; }

.rs3__selection-arrow {
  display: block;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  height: 5px;
  width: 5px; }
  .rs3__selection-arrow i {
    display: block;
    border-color: currentColor rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    width: 0; }

.rs3__clear-selection {
  border-radius: 50%;
  display: block;
  height: 10px;
  line-height: 0;
  position: absolute;
  right: 11em;
  top: -0.75em;
  width: 10px; }
  .rs3__clear-selection:focus {
    color: #00a7ff; }

.rs3__dropdown {
  border-radius: 0;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 7000; }

.rs3__options-list {
  display: block;
  list-style: none;
  margin: 0;
  max-height: 15em;
  overflow: auto;
  padding: 0; }
  .rs3__options-list li {
    font-size: 0.8em;
    line-height: 2.5em;
    overflow: hidden;
    padding: 0 1em;
    white-space: nowrap; }

.rs3__option--highlighted {
  background-color: #efefef; }

.rs3__status {
  color: #e9e9e9;
  display: block;
  font-size: .8em;
  padding: 0.3em 1em; }

.rs3__search {
  display: block;
  position: relative;
  padding: 0 1em; }
  .rs3__search:before {
    content: "Search";
    position: absolute;
    top: 50%;
    left: 1em;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #e9e9e9;
    z-index: -1; }
  .rs3__search input:focus {
    background: white; }

.rs3__search-field {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-bottom: 1px solid #e9e9e9;
  display: block;
  height: 3em;
  margin: 0 auto 0.5em;
  outline: none;
  width: 100%; }

.rs3__loader {
  display: inline-block;
  position: relative;
  font-size: 50px;
  color: #444;
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
  line-height: 0; }
  .rs3__loader::before {
    content: '·';
    line-height: 0; }

.rs3--open.rs3--below .rs3__error {
  display: none; }

.rs3--open.rs3--below .rs3__selection {
  border-bottom: 0;
  border-radius: 0 0 0 0; }

.rs3--open.rs3--below .rs3__dropdown {
  top: 100%;
  border-radius: 0 0 0 0; }

.rs3--open.rs3--above .rs3__selection {
  border-top: 0;
  border-radius: 0 0 0 0; }

.rs3--open.rs3--above .rs3__dropdown {
  bottom: 100%;
  border-radius: 0 0 0 0; }

.rs3--disabled {
  opacity: .5;
  cursor: not-allowed; }

.rs3--error .rs3__selection {
  border-color: rgba(255, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.7);
          box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.7); }

.rs3--pending {
  cursor: progress; }
