//colors
$white: white;
$color_silver_chalice_approx: #aaa;
$color_tundora_approx: #444;
$color_mountain_mist_approx: #999;
$color_suva_gray_approx: #888;
$color_gallery_approx: #eee;
$color_mercury_approx: #e4e4e4;
$color_mine_shaft_approx: #333;
$black: black;
$color_alto_approx: #ddd;
$color_cornflower_blue_approx: #5897fb;
$color_black_haze_approx: #f7f7f7;
$color_celeste_approx: #ccc;
$color_fuscous_gray_approx: #555;
$gray: grey;
$color_royal_blue_approx: #3875d7;

/* generic styling for select boxes */
.select2-container {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    vertical-align: middle;
    &.error{
        .select2-selection--single .select2-selection__rendered{
            color: color("error");
        }
        & ~ .inputMessage{
            color: color("error");
        }
    }
	.select2-selection{
		&:focus{
			outline:none;
		}
	}
    .select2-selection--single {
        display: block;
		position: relative;
        cursor: pointer;
        //height: 1em;
        user-select: none;
		overflow: hidden;
		&:after{
			content:"";
			position: absolute;
			left: -0.05em;
			top:0;
			width: 0.25em;
			height:100%;
			transform: translateX(-100%);
			transition: transform time("hover");
		}
        .select2-selection__rendered {
            display: block;
            overflow: hidden;
            padding: 1em 1.25em;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .select2-selection__clear {
            position: relative;
        }
    }
    .select2-selection--multiple {
        display: block;
        min-height: 32px;
        cursor: pointer;
        user-select: none;
        .select2-selection__rendered {
            display: inline-block;
            overflow: hidden;
            padding-left: 8px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .select2-search--inline {
        float: left;
        .select2-search__field {
            margin-top: 5px;
            padding: 0;
            font-size: 100%;
            border: none;
        }
    }
}
.select2-dropdown {
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
    border-radius: 4px;
	background: white;
	border:solid 3px color("lightest");
	border-top:0;
}
.select2-results {
    display: block;
}
.select2-results__options {
    margin: 0;
    padding: 0;
    list-style: none;
}
.select2-results__option {
    padding: 6px;
    user-select: none;
}
.select2-results__option[aria-selected] {
    cursor: pointer;
}
.select2-container--open {
    .select2-dropdown {
        left: 0;
    }
    .select2-dropdown--above {
        border-bottom: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
.select2-search--dropdown {
    display: block;
    padding: 4px;
    .select2-search__field {
        width: 100%;
        padding: 4px;
    }

    &.select2-search--hide {
        display: none;
    }
}
.select2-close-mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    opacity: 0;
    border: 0;
    background-color: $white;

    filter: alpha(opacity=0);
}
.select2-hidden-accessible {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    margin: -1px !important;
    padding: 0 !important;
    border: 0 !important;
}


.select2-search{
	display:none;
}

//normal dropdown
.select2-container--button {
    font-size: fontSize("select");

    .select2-selection--single {
        background-color: color("lightest");
		&:after{
			background-color: color("brand-blue");
		}
        .select2-selection__rendered {
            color: color("brand-blue");
            line-height: 1.2em;
        }
        .select2-selection__clear {
            float: right;
            font-weight: bold;
            cursor: pointer;
        }
        .select2-selection__placeholder {
            color: color("dark");
        }
        .select2-selection__arrow {
            position: absolute;
            top: 50%;
            right: 1em;
            width: 0.65em;
            height: 0.65em;
			transform: translateY(-100%);
			&:after{
				content:"";
				display: block;
				width:100%;
				height:100%;
				transform: rotate(45deg);
				border-bottom: solid 1px color("brand-blue");
				border-right: solid 1px color("brand-blue");
			}
            /*b {
				border-color: $color_suva_gray_approx transparent transparent transparent;
				border-style: solid;
				border-width: 5px 4px 0 4px;
				height: 0;
				left: 50%;
				margin-left: -4px;
				margin-top: -2px;
				position: absolute;
				top: 50%;
				width: 0;
			}*/
        }
    }

	//when an item is selected (not in placeholder mode anymore)
	&.selected{
		.select2-selection--single{
			font-weight: fontWeight("medium");
			&:after{
				transform: translateX(0);
			}
		}
	}

    &.select2-container--disabled {
        .select2-selection--single {
            background-color: $color_gallery_approx;
            cursor: default;
            .select2-selection__clear {
                display: none;
            }
        }
        .select2-selection--multiple {
            background-color: $color_gallery_approx;
            cursor: default;
        }
        .select2-selection__choice__remove {
            display: none;
        }
    }

    //when dropdown open
    &.select2-container--open {
        &.select2-container--above {
            .select2-selection--single {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            .select2-selection--multiple {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
        &.select2-container--below {
            .select2-selection--single {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            .select2-selection--multiple {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        .select2-selection--single .select2-selection__arrow b {
            border-width: 0 4px 5px 4px;
            border-color: transparent transparent $color_suva_gray_approx transparent;
        }
    }


    .select2-selection--multiple {
        //border: 1px solid $color_silver_chalice_approx;
        //border-radius: 4px;
        background: white;
        cursor: text;
        .select2-selection__rendered {
            width: 100%;
            min-height: 2.65em;
            margin: 0;
            padding: 0 5px;
            list-style: none;
            li {
                list-style: none;
            }
        }
        .select2-selection__placeholder {
            float: left;
            margin-top: 5px;
            color: $color_mountain_mist_approx;
        }
        .select2-selection__clear {
            float: right;
            margin-top: 5px;
            margin-right: 10px;
            font-weight: bold;
            cursor: pointer;
        }
        .select2-selection__choice {
            float: left;
            margin-top: 0.38em;
            margin-right: 0.37em;
            border-radius: 0.25em;
            padding: 0.15em 0.75em 0.3em;
            background: color("brand-blue");
            color: white;
            font-weight: 600;
            cursor: default;
        }
        .select2-selection__choice__remove {
            display: inline-block;
            margin-right: 2px;
            color: white;
            font-weight: bold;
            font-size: 1.5em;
            cursor: pointer;
        }
    }

    .select2-results__option[role=group] {
        padding: 0;
    }
    .select2-results__option[aria-disabled=true] {
        color: $color_mountain_mist_approx;
    }
    .select2-results__option[aria-selected=true] {
        background-color: $color_alto_approx;
    }
    .select2-results__option--highlighted[aria-selected] {
        color: $white;
        background-color: color("brand-blue");
    }
    .select2-results__group {
        display: block;
        padding: 6px;
        cursor: default;
    }

    .select2-search--dropdown .select2-search__field {
        border: 1px solid $color_silver_chalice_approx;
    }
    .select2-search--inline .select2-search__field {
        border: none;
        outline: 0;
        background: transparent;
        box-shadow: none;
    }
    .select2-results > .select2-results__options {
        max-height: 200px;
        overflow-y: auto;
    }
    .select2-results__option .select2-results__option {
        padding-left: 1.5em;
        .select2-results__group {
            padding-left: 0;
        }
        .select2-results__option {
            margin-left: -1em;
            padding-left: 2em;
            .select2-results__option {
                margin-left: -2em;
                padding-left: 3em;
                .select2-results__option {
                    margin-left: -3em;
                    padding-left: 4em;
                    .select2-results__option {
                        margin-left: -4em;
                        padding-left: 5em;
                        .select2-results__option {
                            margin-left: -5em;
                            padding-left: 6em;
                        }
                    }
                }
            }
        }
    }
}
.select2-container--default[dir="rtl"] {
    .select2-selection--single {
        .select2-selection__clear {
            float: left;
        }
        .select2-selection__arrow {
            right: auto;
            left: 1px;
        }
    }
    .select2-selection--multiple {
        .select2-selection__choice {
            float: right;
            margin-right: auto;
            margin-left: 5px;
        }
        .select2-selection__placeholder {
            float: right;
        }
        .select2-search--inline {
            float: right;
        }
        .select2-selection__choice__remove {
            margin-right: auto;
            margin-left: 2px;
        }
    }
}


//transparent background
.select2-container--button_transparent{
	font-size: 1em;
	.select2-selection--single {
        .select2-selection__rendered {
            color: color("darkest");
			font-weight: fontWeight("medium");
            line-height: 1.2em;
			padding-top:0;
			padding-bottom:0;
			padding-right: 2.25em;
        }
		.select2-selection__arrow {
            position: absolute;
            top: 50%;
            right: 1em;
            width: 0.65em;
            height: 0.65em;
			transform: translateY(-100%);
			&:after{
				content:"";
				display: block;
				width:100%;
				height:100%;
				transform: rotate(45deg);
				border-bottom: solid 1px color("brand-blue");
				border-right: solid 1px color("brand-blue");
			}
        }
	}
	.select2-dropdown{
		font-size: fontSize("select");
		border-top: solid 3px color("lightest");
		margin-top: 1em;
	}
	.select2-results__option--highlighted[aria-selected] {
        color: $white;
        background-color: color("brand-blue");
    }
}
