/* z-indexes */
/* font sizes */
/* font weights */
.date-picker, .date-picker-wrapper {
  font-size: 12px;
  font-family: "Lato", sans-serif; }

.date-picker {
  width: 170px;
  height: 25px;
  padding: 0 0 0 10px;
  border: 0;
  line-height: 25px;
  font-weight: 700;
  cursor: pointer;
  color: #303030;
  position: relative;
  z-index: 2; }

.date-picker-wrapper {
  position: absolute;
  z-index: 2000;
  background-color: #efefef;
  padding: 5px 12px;
  line-height: 20px;
  color: #424242;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.15); }
  .date-picker-wrapper .month-wrapper {
    position: relative;
    border: 1px solid #bfbfbf;
    border-radius: 12px;
    background-color: #fff;
    padding: 10px 20px 20px;
    cursor: default; }
    .date-picker-wrapper .month-wrapper table .day.real-today {
      background-color: #c4c4c4; }
  .date-picker-wrapper .footer {
    display: none; }

.date-picker-wrapper.inline-wrapper {
  position: relative;
  box-shadow: none;
  display: inline-block; }

.date-picker-wrapper .drp_top-bar .error-top, .date-picker-wrapper .drp_top-bar .normal-top, .date-picker-wrapper .month-wrapper table .day.lastMonth, .date-picker-wrapper .month-wrapper table .day.nextMonth, .date-picker-wrapper .selected-days {
  display: none; }

.date-picker-wrapper.single-date {
  width: auto; }

.date-picker-wrapper.no-shortcuts {
  padding-bottom: 12px; }

.date-picker-wrapper.no-topbar {
  padding-top: 12px; }

.date-picker-wrapper b {
  color: #666;
  font-weight: 700; }

.date-picker-wrapper a {
  color: #6bb4d6;
  text-decoration: underline; }

.date-picker-wrapper .month-name {
  text-transform: uppercase; }

.date-picker-wrapper .month-wrapper table, .date-picker-wrapper .month-wrapper table.month2 {
  width: 190px;
  float: left; }

.date-picker-wrapper .month-wrapper table td, .date-picker-wrapper .month-wrapper table th {
  vertical-align: middle;
  text-align: center;
  line-height: 14px;
  margin: 0;
  padding: 0; }

.date-picker-wrapper .month-wrapper table .day {
  padding: 5px 0;
  line-height: 1;
  font-size: 12px;
  margin-bottom: 1px;
  color: #ccc;
  cursor: default; }

.date-picker-wrapper .month-wrapper table div.day.lastMonth, .date-picker-wrapper .month-wrapper table div.day.nextMonth {
  color: #999;
  cursor: default; }

.date-picker-wrapper .month-wrapper table .day.checked {
  background-color: #9cdbf7; }

.date-picker-wrapper .month-wrapper table .week-name {
  height: 20px;
  line-height: 20px;
  font-weight: 100;
  text-transform: uppercase; }

.date-picker-wrapper .month-wrapper table .day.has-tooltip {
  cursor: help !important; }

.date-picker-wrapper .time label {
  white-space: nowrap; }

.date-picker-wrapper .month-wrapper table .day.toMonth.valid {
  color: #333;
  cursor: pointer; }

.date-picker-wrapper .month-wrapper table .day.toMonth.hovering {
  background-color: #cdecfa; }

.date-picker-wrapper .month-wrapper table .day.real-today.checked, .date-picker-wrapper .month-wrapper table .day.real-today.hovering {
  background-color: #70ccd5; }

.date-picker-wrapper table .caption {
  height: 40px; }

.date-picker-wrapper table .caption .next, .date-picker-wrapper table .caption .prev {
  padding: 0 5px;
  cursor: pointer; }

.date-picker-wrapper table .caption .next:hover, .date-picker-wrapper table .caption .prev:hover {
  background-color: #ccc;
  color: #fff; }

.date-picker-wrapper .gap {
  position: relative;
  z-index: 1;
  width: 15px;
  background-color: red;
  font-size: 0;
  line-height: 0;
  float: left;
  top: -5px;
  margin: 0 10px -10px;
  visibility: hidden;
  height: 0; }

.date-picker-wrapper .gap .gap-lines {
  height: 100%;
  overflow: hidden; }

.date-picker-wrapper .gap .gap-line {
  height: 15px;
  width: 15px;
  position: relative; }

.date-picker-wrapper .gap .gap-line .gap-1 {
  z-index: 1;
  height: 0;
  border-left: 8px solid #fff;
  border-top: 8px solid #eee;
  border-bottom: 8px solid #eee; }

.date-picker-wrapper .gap .gap-line .gap-2 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 0;
  border-left: 8px solid transparent;
  border-top: 8px solid #fff; }

.date-picker-wrapper .gap .gap-line .gap-3 {
  position: absolute;
  right: 0;
  top: 8px;
  z-index: 2;
  height: 0;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff; }

.date-picker-wrapper .gap .gap-top-mask {
  width: 6px;
  height: 1px;
  position: absolute;
  top: -1px;
  left: 1px;
  background-color: #eee;
  z-index: 3; }

.date-picker-wrapper .gap .gap-bottom-mask {
  width: 6px;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 7px;
  background-color: #eee;
  z-index: 3; }

.date-picker-wrapper .drp_top-bar {
  line-height: 1.4;
  position: relative;
  padding: 10px 40px 10px 0; }

.date-picker-wrapper .drp_top-bar .default-top {
  display: block; }

.date-picker-wrapper .drp_top-bar.error .default-top {
  display: none; }

.date-picker-wrapper .drp_top-bar.error .error-top {
  display: block;
  color: red; }

.date-picker-wrapper .drp_top-bar.normal .default-top {
  display: none; }

.date-picker-wrapper .drp_top-bar.normal .normal-top, .date-picker-wrapper.single-month .time {
  display: block; }

.date-picker-wrapper .drp_top-bar .apply-btn {
  position: absolute;
  right: 0;
  top: 6px;
  padding: 3px 5px;
  margin: 0;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top, #00adee, #0078a5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
  color: #fff;
  line-height: initial; }

.date-picker-wrapper .drp_top-bar .apply-btn.disabled {
  cursor: pointer;
  color: #606060;
  border: 1px solid #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top, #fff, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); }

.date-picker-wrapper .time {
  position: relative; }

.date-picker-wrapper .hide, .date-picker-wrapper.two-months.no-gap .month1 .next, .date-picker-wrapper.two-months.no-gap .month2 .prev {
  display: none; }

.date-picker-wrapper .time input[type=range] {
  vertical-align: middle;
  width: 129px;
  padding: 0;
  margin: 0;
  height: 20px; }

.date-picker-wrapper .time1, .time2 {
  width: 180px;
  padding: 0 5px;
  text-align: center; }

.date-picker-wrapper .time1 {
  float: left; }

.date-picker-wrapper .time2 {
  float: right; }

.date-picker-wrapper .hour, .minute {
  text-align: right; }

.date-picker-wrapper .first-date-selected, .date-picker-wrapper .last-date-selected {
  background-color: #49e;
  color: #fff !important; }

.date-picker-wrapper .date-range-length-tip {
  position: absolute;
  margin-top: -4px;
  margin-left: -8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: none;
  background-color: #ff0;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 16px;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  -o-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3)); }

.date-picker-wrapper .date-range-length-tip:after {
  content: '';
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ff0;
  left: 50%;
  margin-left: -4px;
  bottom: -4px; }

.date-picker-wrapper .week-number {
  padding: 5px 0;
  line-height: 1;
  font-size: 12px;
  margin-bottom: 1px;
  color: #999;
  cursor: pointer; }

.date-picker-wrapper .week-number.week-number-selected {
  color: #49E;
  font-weight: 700; }

.centeredDatepickers .overlay {
  z-index: 7000; }

.centeredDatepickers .date-picker-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  max-width: 700px;
  border-radius: 5px;
  z-index: 7010; }
  @media (max-width: 800px) {
    .centeredDatepickers .date-picker-wrapper {
      width: 92vw; } }
  .centeredDatepickers .date-picker-wrapper.show {
    animation: showSweetAlert 0.3s; }
  .centeredDatepickers .date-picker-wrapper .time {
    display: none; }
  .centeredDatepickers .date-picker-wrapper .month-wrapper {
    display: flex;
    width: 100% !important;
    border: 0; }
    .centeredDatepickers .date-picker-wrapper .month-wrapper .month1, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 {
      width: calc( 50% - 0.75rem);
      float: none; }
      @media (max-width: 480px) {
        .centeredDatepickers .date-picker-wrapper .month-wrapper .month1, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 {
          width: 100%; } }
      .centeredDatepickers .date-picker-wrapper .month-wrapper .month1 td, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 td {
        width: calc( 100% / 7); }
      .centeredDatepickers .date-picker-wrapper .month-wrapper .month1 .week-name, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 .week-name {
        height: 1.5rem; }
        .centeredDatepickers .date-picker-wrapper .month-wrapper .month1 .week-name th, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 .week-name th {
          vertical-align: top; }
      .centeredDatepickers .date-picker-wrapper .month-wrapper .month1 .day, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 .day {
        padding: 1rem 0;
        font-weight: 700; }
        .centeredDatepickers .date-picker-wrapper .month-wrapper .month1 .day.valid, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 .day.valid {
          background: #f7f7f7;
          color: #363636; }
        .centeredDatepickers .date-picker-wrapper .month-wrapper .month1 .day.real-today, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 .day.real-today {
          background-color: #e9e9e9;
          color: #959595; }
        .centeredDatepickers .date-picker-wrapper .month-wrapper .month1 .day.booked, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 .day.booked {
          background-color: #797979;
          color: #f7f7f7; }
        .centeredDatepickers .date-picker-wrapper .month-wrapper .month1 .day.checked, .centeredDatepickers .date-picker-wrapper .month-wrapper .month1 .day.first-date-selected, .centeredDatepickers .date-picker-wrapper .month-wrapper .month1 .day.last-date-selected, .centeredDatepickers .date-picker-wrapper .month-wrapper .month1 .day.thisItem, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 .day.checked, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 .day.first-date-selected, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 .day.last-date-selected, .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 .day.thisItem {
          background: #2F80ED;
          color: white; }
        .centeredDatepickers .date-picker-wrapper .month-wrapper .month1 .day.checked:not(.first-date-selected):not(.last-date-selected), .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 .day.checked:not(.first-date-selected):not(.last-date-selected) {
          background: #2F80ED;
          color: white;
          border-left: solid 1px rgba(255, 255, 255, 0.5);
          border-right: solid 1px rgba(255, 255, 255, 0.5); }
    .centeredDatepickers .date-picker-wrapper .month-wrapper .month2 {
      margin-left: 1.5rem; }
  .centeredDatepickers .date-picker-wrapper .gap {
    display: none; }
  .centeredDatepickers .date-picker-wrapper .date-range-length-tip {
    padding: 0.25em 0.5em;
    background: #363636;
    color: white;
    font-weight: 700; }
    .centeredDatepickers .date-picker-wrapper .date-range-length-tip:after {
      border-top-color: #363636; }
  .centeredDatepickers .date-picker-wrapper .prev, .centeredDatepickers .date-picker-wrapper .next {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: solid 2px #e9e9e9;
    background: white;
    color: #959595;
    font-size: 1rem;
    line-height: 1.65rem; }
  .centeredDatepickers .date-picker-wrapper .prev {
    left: 0;
    transform: translate(-90%, -50%); }
  .centeredDatepickers .date-picker-wrapper .next {
    right: 0;
    transform: translate(90%, -50%); }
