@keyframes closeBurst{
    80%{
        transform: scale(1.1) rotate(45deg);
    }
    100%{
        transform: scale(1) rotate(45deg);
    }
}



//submit button
@keyframes button-dot-intro {
    0% {
        opacity:0;
    }
    60% {
        opacity:1;
        transform:scale(1,1);
    }
    100% {
        transform:scale(.75,.75);
    }
}

@keyframes button-dot-pulse {
    0% {
        opacity:1;
        transform:scale(.75,.75);
    }
    15% {
        transform:scale(.85,.85);
    }
    45% {
        transform:scale(.75,.75);
    }
    55% {
        transform:scale(.95,.95);
    }
    85% {
        transform:scale(.75,.75);
    }
    100% {
        opacity:1;
        transform:scale(.75,.75);
    }
}

@keyframes button-ready {
    0% {
        margin-left:1.25rem;
        width:2.5rem;
    }
    10% {
        background-color:#5585ff;
        border-color:#5585ff;
    }
    70% {
        margin:0;
        width:7.25rem;
        background-color:#fff;
        transform:scale(1.1,1.1);
    }
    100% {
        margin:0;
        width:7rem;
        border-color:#8cce1e;
        background-color:#fff;
    }
}

@keyframes button-dot-outro {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
        transform:scale(1,1);
    }
}

@keyframes button-ready-label {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}



//dropzone animations
@keyframes passing-through {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    30%, 70% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    30% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes pulse {
    0%, 20% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.1);
    }
}




//easings
$easing: (
    bounce : cubic-bezier( 0.89, -0.5, 0.16, 1.01 )
)
