.benchmarks{
    table{
        width: 100%;
        td.click{
            cursor: pointer;
        }
    }
    .averages{
        margin: 10px 0;
        span{
            padding-right: 10px;
        }
    }

    .modal{
        position: fixed;
        top: 50%;
        z-index: 10000;
        width: 50%;
        height: auto;
        left: 50%;
        background: white;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 2vw rgba(0, 0, 0, 0.15);
        padding: 10px;
        border-radius: 10px;
        h1{
            font-size: 1.75vw;
        }
        .close{
            position: absolute;
            top: 0;
            right: 0;
            color: color("brand-blue-darkest");
            transition: 0.5s;
            &:hover{
                color:color("brand-pink");
            }
        }
        &-inner{
            position: relative;
        }
    }
}