

//buttons
a, button{
    text-decoration:none;
    color:inherit;
    cursor:pointer;
}
button{
    -webkit-appearance:none;
    border:0;
    outline:0;
    background:none;
    padding:0;
}

.button{
    display: inline-block;
    position: relative;
    border:solid 1px currentColor;
    border-radius: 0;
    font-weight: fontWeight("bold");
    line-height: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    overflow: hidden;

    &:after{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width: 150%;
        height: 600%;
        background: currentColor;
        transform: translate(-57%, 28%) rotate(30deg);
        transition: transform time("hover");
    }

    &:hover, &.active{
        &:not(.textOnly){
            &:after{
                transform: translate(-20%, -43%) rotate(30deg);
            }
            .buttonInner{
                color: white;
            }
        }

    }

    &.extraLarge{
        font-size: fontSize("body");
    }
    &.primary{
        font-size: fontSize("nofocus");
        padding: 1em 2em;
        color: color("brand-blue");
    }
    &.inline{
        //margin-bottom: 1.75rem;
        margin: 0 2px 1.75rem;
        line-height: 1.5rem;
        font-size: 1.0667rem;
        padding: 0.56em 2em;
        color: color("brand-blue");
    }
    &.secondary{
        font-size: fontSize("tiny");
        padding: 0.7em 2em;
    }
    &.small{
        font-size: fontSize("micro");
        padding: 0.55em 1em 0.6em;
        &.hasIcon{
            padding-top: 0.6em;
            padding-bottom: 0.55em;
            .icon{
                transform: translateY(-0.1em);
            }
        }
        &:after{
            transform: translate(-87%, 28%) rotate(30deg);
        }
    }
    &.tiny{
        font-size: 0.525rem;
        padding: 0.3em 0.6em 0.25em;
        &.hasIcon{
            padding-left: 0.6em;
        }
        .icon{
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.35em;
        }
    }

    &.hasIcon{
        padding-left: 1.5em;
    }

    &.iconOnly{
        display: inline-block;
        vertical-align: middle;
        border:0;
        padding:0;
        font-size: fontSize("micro");
        .icon{
            margin:0;
        }
    }

    &.textOnly{
        border:0;
        padding:0;
        font-size: fontSize("nofocus");
        &:hover{
            text-decoration: underline;
        }
        &-small{
            font-size: fontSize("micro");
        }
    }

    &.onDark{
        color: color("background-dark-text");
        &:hover{
            .buttonInner{
                color: white;
            }
        }
    }
    &.gray, &.grayDark,&.color-gray{
        color: color("light");
        &:hover{
            .buttonInner{
                color: white;
            }
        }
        &.active{
            color: color("background-dark-text");
            .buttonInner{
                color: white;
            }
        }
    }
    &.grayDark,&.color-grayDark{
        color: color("dark");
    }

  &.color-red{
    color: red;
    &:hover{
      .buttonInner{
        color: white;
      }
    }
    &.active{
      color: color("background-dark-text");
      .buttonInner{
        color: white;
      }
    }
  }
  &.color-green{
    color: green;
    &:hover{
      .buttonInner{
        color: white;
      }
    }
    &.active{
      color: color("background-dark-text");
      .buttonInner{
        color: white;
      }
    }
  }

    &.arrowLeft, &.arrowRight, &.arrowDown{
        position: relative;
        .buttonInner{
            &:before, &:after{
                display: inline-block;
                position: relative;
                width: 0.5em;
                height: 0.5em;
                border-top: solid 2px;
                border-right: solid 2px;
                transition: transform time("hover");
            }
        }

    }
    &.arrowLeft{
        position: relative;
        .buttonInner{
            padding-left: 0.5em;
            &:before{
                content:"";
                transform: rotate(-135deg);
                margin-right: 0.5em;
                margin-top: 0.1em;
            }
        }
        &.textOnly{
            .buttonInner{
                padding-left: 2em;
                &:before{
                    margin-right: 0.3em;
                }
            }
        }
    }
    &.arrowRight{
        .buttonInner{
            padding-right: 0.5em;
            &:after{
                content:"";
                margin-left:0.5em;
                margin-top: 0.1em;
                transform: rotate(45deg);
            }
        }
    }
    &.arrowDown{
        /*
        &:before{
            content:"";
            top: -0.15em;
            margin-left: 1em;
            transform: rotate(135deg);
            transition: transform time("hover");
        }
        */
    }

    &.close{
        position: absolute;
        top: 0.25em;
        right: 0.2em;
        transform:rotate(45deg);
        font-size:2em;
        line-height: 0.8em;
        border:0;
        transition: transform time("hover");
        z-index: layer("moduleControls");
        &:hover{
            transform: rotate( 45deg ) scale( 1.1 );
            .buttonInner{
                color: inherit;
            }
        }
        &:after{
            display:none;
        }
    }

    & + .button{
        margin-left: 1em;
    }

    //buttons with loader
    &.progressLoader{
        padding: 0;
        transition: transform 0.2s, background 0.3s, border-radius 0.2s;
        .buttonInner{
    		display: block;
    		position: relative;
    		padding: 1em 2em;
    		transition: opacity 0.3s, transform 0.3s;
    		&:before, &:after{
    			position: absolute;
    			top: 100%;
    			left: 50%;
    			transform: translateX(-50%);
                font-size: 1.75em;
                line-height: 1.9em;
    			color: darken( color("brand-blue"), 15% );
    			opacity: 0;
    			transition: opacity 0.3s;
    		}
    		&:before{
    			content: "\2714";
    		}
    		&:after{
    			content: "\00d7";
    		}
    	}
    	.progress{
    		background: color("brand-blue");
    	}
    	.progress-inner{
    		position: absolute;
    		top: 0;
    		left: 0;
    		height: 100%;
    		width: 0%;
    	    background: darken( color("brand-blue"), 15% );
    		opacity: 1;
    	}

        //loading
    	&.state-loading{
    		transform: scaleY(0.3);
    		border-radius: 0;
    		.buttonInner{
    			opacity: 0;
    		}
    		.progress-inner{
    			width: 100%;
    			transition: width 3s, opacity 0.3s;
    		}
            &:after{
                display: none;
            }
    	}

    	//success
    	&.state-success{
            background: color( "brand-blue" );
            color: white;
    		.buttonInner{
    			transform: translateY(-100%);
    			&:before{
    				opacity: 1;
    			}
    		}
            &:after{
                display: none;
            }
    	}

    	&.state-error{
    		background: color("error");
            border-color: transparent;
    		.buttonInner{
    			transform: translateY(-100%);
    			&:after{
    				opacity: 1;
    				color: darken( color("error"), 15% );
    			}
    		}
            &:after{
                display: none;
            }
    	}
    }

    &.fillIcon{
        &:after{
            display: none;
        }
        svg{
            fill: none;
            transition: fill time("hover");
        }
        &:hover, &.active{
            .buttonInner{
                color: inherit;
            }
            svg{
                fill: currentColor;
            }
        }
    }

    .buttonInner{
        position: relative;
        transition: color time("hover");
        z-index: layer("normalContent");
        pointer-events: none;
    }

    .icon{
        stroke: currentColor;
        width: 1.7em;
        height: 1.7em;
        margin-right: 0.5em;

    }
}
