.dataSection{
    padding-top: 3em;

    & + .dataSection{
        margin-top: 2em;
    }
    &.hide + .dataSection{
        margin-top: 0;
    }


    &.hide{
        display: none;
    }
}

.noData + .dataSection{
    margin-top: 4em;
}


.graphWrap{
    position: relative;
    margin-top: 2em;
    border: solid 1px color("lighter");
    & + .tableWrap{
        margin-top: 1em;
    }
}
.graphHeader{
    position: relative;
    padding: 1.5em;
    .button{
        &.saveJPG{
            position: absolute;
            top:0;
            right:0;
            border-right: 0;
            border-top: 0;
            border-color: color("lighter");
        }
    }
}
.graphBody{
    padding-left: 1.5em;
    padding-bottom: 1.5em;
}

.tableWrap{
    border: solid 1px color("lighter");
}
.tableHeader{
    border-bottom: solid 1px color("lighter");
    label{
        font-size: fontSize("nav");
    }
}
.tableColumn{
    padding: 1em 2em;
    &.name{
        flex-grow: 1;
        min-width: 40%;
    }
    &.redirect{
        width: 48%;
        border-left: dashed 1px color("lighter");
        p{
            font-size: fontSize("tiny");
            line-height: 1.25em;
        }
    }
    &.count{
        width: 12%;
        min-width: 7em;
        border-left: dashed 1px color("lighter");
    }
    p{
        word-wrap: break-word;
        font-weight: fontWeight("bold");
    }
}
.tableRow{
    position: relative;
    color: color("background-dark-text");
    z-index: 1;
    .tableRow-inner{
        align-items: center;
    }
    .barWrap{
        position: absolute;
        top: 2px;
        left: 0;
        width: 88%;
        max-width: calc( 100% - 7em );
        height: calc( 100% - 4px);
        z-index: -1;

    }
    .bar{
        height: 100%;
        background: darken( color("lightest"), 2%);
    }
}





/* d3 styling */
.d3{
    .axis{
        .domain{
            stroke: color("lighter");
        }
        .tick{
            line{
                stroke: color("lighter");
                stroke-dasharray: 3 2;
            }
            text{
                fill: color("light");
            }
        }
        &.axis-y{
            .domain{
                display: none;
            }
        }
    }


    .line {
        //fill: none;
        //stroke: color("brand-blue");
        //stroke-width: 3px;
    }

    .legendItem{
        //font-size: 0.65em;
        //font-weight: bold;
    }
}
.canvasForSavingImage{
    position: absolute;
    bottom:0;
    height:0;
    overflow: hidden;
}






/* CAROUSEL MODULE */
$carouselGraphWidth: 700px;
$carouselGraphSpacing: 16px;
.dataSection[data-type='carousel']{
    .graphWrap{
        width: $carouselGraphWidth;
    }
    .tableWrap{
        width: calc( 100% - #{ $carouselGraphWidth + $carouselGraphSpacing } );
        margin-left: $carouselGraphSpacing;
        margin-top: 2em;
    }
    .tableRow{
        .tableColumn.name, .tableColumn.count{
            font-size: fontSize("nofocus");
            p{
                font-size: inherit;
            }
        }
        .tableColumn.count{
            min-width: 8em;
        }
        &:first-of-type{
            color: #C73369;
        }
        &:nth-of-type(2){
            color: #2F80ED;
        }
        &:nth-of-type(3){
            color: #5DC7D1;
        }
        &:nth-of-type(4){
            color: #C8D444;
        }
        &:nth-of-type(5){
            color: #F18933;
        }
        &:nth-of-type(6){
            color: #223E6B;
        }
        &:nth-of-type(7){
            color: #F9CF46;
        }
        &:nth-of-type(8){
            color: #BD4432;
        }
        &:nth-of-type(9){
            color: #0E0D0E;
        }
    }
}

.emptyTable{
    display: flex;
    align-items: center;
    justify-content: center;
    color: color( "light" );
    div{
        font-size: 0;
    }
}

.dataSection[data-type='video']{
    .videoMetrics{
        //width: 50%;
        &:nth-of-type(2){
            margin-left: $carouselGraphSpacing;
        }
        .emptyTable{
            height: calc( 100% - 2.5em );
            &:after{
                content:"No User Engaged Video Data";
                font-size: 1em;
            }
        }
    }
    .tableRow{
        .tableColumn.name, .tableColumn.count{
            font-size: fontSize("nofocus");
            p{
                font-size: inherit;
            }
        }
        .tableColumn.count{
            min-width: 8em;
        }
        &:first-of-type{
            color: #C73369;
        }
        &:nth-of-type(2){
            color: #2F80ED;
        }
        &:nth-of-type(3){
            color: #5DC7D1;
        }
        &:nth-of-type(4){
            color: #C8D444;
        }
        &:nth-of-type(5){
            color: #F18933;
        }
        &:nth-of-type(6){
            color: #223E6B;
        }
        &:nth-of-type(7){
            color: #F9CF46;
        }
        &:nth-of-type(8){
            color: #BD4432;
        }
        &:nth-of-type(9){
            color: #0E0D0E;
        }
    }
}
