//element styles

ul{
    list-style: none;
    margin:0;
    padding:0;
}

img{
    display: block;
}

.hide{
    display:none;
}



//colors
$foreground-colors: (
    background          : background,
    onDarkBackground    : background-dark-text,
    white               : brand-white,
    light               : light,
    dark                : dark,
    darker              : darker,
    darkest             : darkest,
    blue                : brand-blue,
    pink                : brand-pink,
    darkestBlue         : brand-blue-darkest
);
@each $item, $value in $foreground-colors{
    .color-#{$item}{
        color: color("#{$value}");
    }
}


//backgrounds
$background-colors: (
    background      : background,
    backgroundDark : background-dark,
    lightest        : lightest,
    dark            : dark,
    darker          : darker,
    darkest         : darkest,
    blue            : brand-blue
);
@each $item, $value in $background-colors{
    .background-#{$item}{
        background: color("#{$value}");
    }
}



//borders
$borders: (
    border-top: solid 1px,
    border-right: solid 1px,
    border-bottom: solid 1px,
    border-left: solid 1px
);
@each $item, $value in $borders{
    .#{$item}{
        #{$item}: $value;
    }
}


//underline
.dash-below{
    position: relative;
    padding-bottom: 0.45em;
    margin-bottom: 0.35em;
    &:after{
        content:"";
        position: absolute;
        left: 0;
        width: 1em;
        height: 0.1em;
        top: calc(100% - 0.1em);
    }
    &.dash-large{
        padding-bottom: 0.8em;
        margin-bottom: 0.7em;
        &:after{
            width: 2em;
            height: 0.2em;
            top: calc(100% - 0.2em);
        }
    }
    &.dash-center{
        &:after{
            left:50%;
            transform: translateX(-50%);
        }
    }
    &.dash-gray{
        &:after{
            background-color: color("lighter");
        }
    }
    &.dash-onDark{
        &:after{
            background-color: color("background-dark-text");
        }
    }
    &.dash-blue{
        &:after{
            background-color: color("brand-blue");
        }
    }

}

//buttons group
.actions{
    &.align-right{
        text-align: right;
    }
}

.icon{
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    & + a, & + p{
        display: inline-block;
        vertical-align: middle;
    }
}

.backToAll{
    position: absolute;
    top: 3em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1400px;
    text-align: left;
    @include smaller( 1420px ){
        padding-left: 2em;
    }
}



.section{
    position: relative;
    //position: sticky;
    //position: -webkit-sticky;
    top:0;
    left:0;
    background: color("background");
    //overflow:hidden;
    &.sticky{
        @include larger($small){
            position: sticky;
            position: -webkit-sticky;
            top:0;
        }
    }
    &.hideOverflow{
        overflow: hidden;
    }
}





//modals
.modal{
    .modal-title{
        position: relative;
        margin-bottom: 2rem;
    }
}




//avatar
.avatar{
    border-radius: 50%;
    overflow: hidden;
    max-width:120px;
    max-height:120px;
    background: color("lightest");
    img{
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        transform: translate(-1px, -1px);
        object-fit: cover;
        border: none;
        outline: none;
    }
}


.paginationWrap{
    .pagination{
        display: inline-block;
        border-radius: 2em;
        border: solid 1px color("lighter");
    }

    li{
        display: inline-block;
        padding: 0.75em;
        padding-bottom: 0.8em;
        font-size: fontSize("nofocus");
        cursor: pointer;

        //buttons
        &.pagination-button{
            transition: color time("hover");
            &:not(.disabled){
                &:hover{
                    color: color("brand-blue");
                }
            }
            &.disabled{
                cursor: not-allowed;
            }
            //back
            &.back{
                padding-left: 1.25em;
            }
            //next
            &.next{
                padding-right: 1.25em;
            }
        }

    }
    .pagination-pages{
        display: inline-block;
        li{
            position: relative;
            font-family: "Lato", sans-serif;
            transition: color time("hover");
            z-index: 1;
            &:before{
                content:"";
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%) scale(0);
                width: 1.75em;
                height: 1.75em;
                border-radius: 50%;
                background: color("brand-blue");
                transition: transform time("hover");
                z-index: -1;
            }
            &:hover{
                color: white;
                &:before{
                    transform: translate(-50%,-50%) scale(0.75);
                }
            }
            &.active{
                color: white;
                &:before{
                    transform: translate(-50%,-50%) scale(1);
                }
            }
            &.itemsHiddenBefore{
                margin-left: 2em;
                &:after{
                    content:"...";
                    position: absolute;
                    left: -1.5em;
                    top:50%;
                    transform: translateY(-50%);
                }
            }
            &.itemsHiddenAfter{
                margin-right: 2em;
                &:after{
                    content:"...";
                    position: absolute;
                    right: -1.5em;
                    top:50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}


//loader
$loaderSize: 2em;
.loaderWrap{
    position: relative;
    width: $loaderSize * 12;
    height: $loaderSize;
    margin: 0 auto;
    transform: translateY(-40%);
    &:before, &:after{
        content:"";
        position: absolute;
        top:-50%;
        width: #{$loaderSize * 2};
        height: #{$loaderSize * 2.5};
        background: color("background-dark");
        z-index: layer("topContent");
    }
    &:before{
        left: 0;
        transform: translateX(-100%);
        box-shadow: 1em 0em 1.5em -1em rgba(0,0,0,0.5);
    }
    &:after{
        right: 0;
        transform: translateX(100%);
        box-shadow: -1em 0em 1.5em -1em rgba(0,0,0,0.5);
    }
}
.loader {
    position: absolute;
    top: calc(50% - #{$loaderSize * 0.4});
    left: calc(50% - #{$loaderSize * 0.4});
    animation: loader 5s linear infinite;
    .box {
        position: absolute;
        top: 0;
        left: 0;
        width: $loaderSize;
        height: $loaderSize;
        background: color("brand-blue");
        border-radius: #{$loaderSize * 0.06};
        animation: animate .5s linear infinite;
    }
    .shadow {
        width: $loaderSize;
        height: $loaderSize / 10;
        background: black;
        opacity: 0.2;
        position: absolute;
        top: $loaderSize * 1.18;
        left: 0;
        border-radius: 50%;
        animation: shadow .5s linear infinite;
    }
}

@keyframes loader {
    //0% { left: -100px }
    //100% { left: 110%; }
    0% { left: calc(50% - #{$loaderSize * 8}); }
    //15% { opacity: 1; }
    //85% { opacity: 1; }
    100% { left: calc(50% + #{$loaderSize * 7}); }
}
@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(#{$loaderSize * 0.18}) rotate(22.5deg);
    }
    50% {
        transform: translateY(#{$loaderSize * 0.36}) scale(1,.9) rotate(45deg) ;
        border-bottom-right-radius: #{$loaderSize * 0.8};
    }
    75% {
        transform: translateY(#{$loaderSize * 0.18}) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}
@keyframes shadow {
    50% {
        transform: scale(1.2,1);
    }
}


.headerSlantedEdge{
    position: relative;
    z-index: layer("normalContent");

    & + .mainContent{
        z-index: layer("topContent");
    }

    &.filterOpen{
        z-index: auto;
    }

    @include larger( 1200px ){
        &:after{
            content:"";
            display: block;
            position: absolute;
            bottom: 0;
            width:100%;
            height: 10vw;
            transform: translateY(60%) skewY(-4deg);
            background: inherit;
            z-index: -1;
        }
        & + .mainContent{
            .innerWrap{
                z-index: 1;
                &:before, &:after{
                    content:"";
                    position: absolute;
                    top:0;
                    width: 1vw;
                    height: 20vw;
                    box-shadow: 0 0 2vw rgba(black, 0.15);
                    z-index: -1;
                }
                &:before{
                    left:0.3vw;
                    transform: skewX(3deg);
                }
                &:after{
                    right:0.3vw;
                    transform: skewX(-3deg);
                }
                .innerWrap-inner{
                    min-height: 20vw;
                }
            }
        }
    }
}

.mainContent{
    position: relative;
}

.largeDataLabel{
    label{
        color: inherit;
    }
}


.pageMetaHeader{
    position: relative;
    perspective: 800px;
    perspective-origin: 75% top;
    z-index: layer("moduleControls");
    .actions.flex-column{
        height: 2.45em;
        .button{
            min-height: 3.275em;
            & + .button{
                margin-left: 0;
                margin-top: 0.75em;
            }
        }
    }
}

//meta header expanding items
.metaHeader-expandable{
    position: absolute;
    top: 2.25em;
    right: -1em;
    padding: 2em 1.5em;
    background: white;
    opacity: 0;
    filter: drop-shadow(0 1em 1em rgba( black, 0.1 ) );
    transform: rotateX(92.5deg);
    transform-origin: top center;
    transition: transform time("transition"), opacity time("hover");
    z-index: layer("moduleControls");
    &:before, &:after{
        content:"";
        position: absolute;
        top:0;
        z-index: -1;
    }
    &:before{
        right:0;
        height: 3.25em;
        transform: translateY(-100%);
        background: color("background");
    }
    &:after{
        transform: translateY(-100%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 3.25em 1.8em;
        border-color: transparent transparent color("background") transparent;
    }
    &.show{
        opacity: 1;
        transform: rotateX(0);
    }
}

//filter
.filterWrap{
    max-width: calc( 400px + 3em );
    &:before{
        width: 10em;
    }
    &:after{
        right: 10em;
    }
    .filterBtn{
        position: absolute;
        top: -3em;
        right: 2em;
    }
    .form-item[data-content='endDate'] label{
        left: calc( 50% - 2.2em);
    }
}
.filterTitle{
    .icon{
        width: 1em;
        height: 1em;
        margin-right: 0.5em;
        transform: translateY( -10% );
        stroke: color("dark");
    }
}
.reportItems{

}
.reportItem{
    flex-grow:1;
    flex-shrink:1;
    margin-top: 0.3em;
    padding: 1em 1.5em;
    font-size: fontSize("tiny");
    text-align: center;
    cursor: pointer;
    & + .reportItem.button{
        margin-left: 0.3em;
    }
    &[data-role='carousel'].button{
        margin-left: 0;
    }
}

.filterWrap{
    & + .tagGeneratorWrap{
        top: 8.3em;
    }
}
.tagGeneratorWrap{
    width: 1235px;
    z-index: -1;
    &:before{
        width: 13em;
    }
    &:after{
        right: 13em;
    }
    &.show{
        opacity: 1;
        transform: rotateX(0);
        z-index: 1050;
    }
    .createTagsBtn{
        position: absolute;
        top: -3em;
        right: 2em;
        min-width: 14em;
    }

    .contentWrapper{
        min-height:400px;
        max-height: 600px;
    }

    .intro{
        width: 26em;
        min-width: 26em;
        #tagsBuilder{
            max-height: 500px;
            overflow-y: scroll;
        }
    }

    #generatedTags{
        margin-left: 1.5em;
        padding-left: 2em;
        border-left: solid 1px color("lighter");
        overflow-y: scroll;
    }



}

.tagWrap{
    position: relative;
    margin-bottom: 1.5em;
    padding: 1em 1em 2em;
    background: color("lightest");
    .button.deleteTag{
        position: absolute;
        top: 2em;
        right: 1.75em;
    }
}
.renderedTag{
    margin-bottom: 2em;
    font-size: fontSize("nofocus");
    .tag-name{
        font-size: 0.85em;
    }
    .tag-value{
        color: color("brand-blue");
        font-size: inherit;
        line-height: 1.35em;
        word-break: break-all;
        padding-right: 3.6em;
    }
    .deleteTag{
        transform: translateY(-0.475em);
    }
}



.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity time("transition");
    .overlayInner{
        background: color("background");
        transform: scale( 0.8 );
        transition: transform time("transition");
    }
    .overlayItem{
        display: none;
        &.active{
            display: block;
        }
    }
    &.active{
        opacity: 1;
        pointer-events: all;
        .overlayInner{
            transform: scale( 1 );
        }
    }
}



/*
    Datepicker styling overrides
    Builds on react-day-picker
*/
.DatePicker{
    .resetDates{
        transform: translateY(-0.3em);
    }
}
.DayPicker{
    margin-top: 1em;
    outline: 0;
}
.DayPicker-wrapper{
    outline: 0;
}
.DayPicker-Day{
    padding: 1em;
    outline: 0;
    color: color("darker");
    &--disabled{
        color: color("light");
        background: color("lighter");
        cursor: not-allowed;
    }
    &--today{
        color: color("brand-blue-darker");
        font-weight: fontWeight("bold");
    }
    &--selected{
        color: white;
        background-color: color("brand-blue") !important;
    }
}
.DayPicker-NavBar{

}
.DayPicker-NavButton{
    width: 1em;
    height: 1em;
    outline: 0;
}
.DayPicker-Caption{
    height: 2.125em;
    font-size: 0.875em;
}
.DayPicker-Weekday{
    padding: 0.5em;
    font-size: 0.75em;
    color: color("light");
    abbr{
        text-decoration: none;
    }
}

//card layout
.layout-card{

}

//slanted title on top of a card element
.cardHeadline{
    .cardTitle{
        display: inline-block;
        position: relative;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        background: color( "lightest" );
        color: color( "dark" );
        padding: 1em 1em 0 1.5em; //less space on the right to visually compensate for the angle
        &:after{
            content: "";
            position: absolute;
            bottom: -0.35em;
            left: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 2.5em 0 0 1.25em;
            border-color: transparent transparent transparent color("lightest");
        }
    }
}

.cardInner{

}


.separator{
    &-or{
        p{
            padding: 0.515em 0.5em 0.633em;
            line-height: 0.8em;
            background: color( "light" );
            border-radius: 50%;
        }
    }
}




.annotations{
    p + p{
        margin-top:0;
    }
}




.advertiser-group{
    position: relative;
    align-self: start;
}
.advertiser-group-letter{
    position: absolute;
    top:-0.45em;
    left: -0.5em;
    transform: translateX(-100%);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: color( "lighter" );
    color: color("background-dark-text");
    text-align: center;
    font-weight: fontWeight( "bold" );
    line-height: 2em;
}

body{
    .notification{
        position: fixed;
        margin: 1em;
        padding: 1em;
        box-shadow: 5px 6px 20px color("darker");
        border-radius: 3px;
        top: 0;
        right: 0;
        transform: translateX(100%);
        background: color("lightest");
        opacity: 0;
        transition: 0.5s;
        &.active{
            z-index: 10000;
            transform: translateX(0);
            opacity: 1;
        }
        &.success{
            color: color("brand-blue");
        }
        &.error{
            color: color("brand-white");
            background: color("error");
        }
        &.warning{
            color: color("brand-white");
            background: color("warning");
        }

    }


    .issueTrackerContainer{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(color("darkest"), 0.75);
        z-index: layer("popupBox");
        pointer-events: none;
        opacity: 0;
        transition: 0.5s;
        .issueTrackerBox{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.1);
            padding: 2em;
            background: color("background");
            transition: 0.5s;
            .cardTitle{
                text-align: center;
                padding-bottom: 0.25em;
            }
            label{
                background: color("background");
            }
            .form-input.dropdown{
                color: black;
            }
            .buttonContainer{
                padding-top: 1em;
            }
        }
        &.active{
            opacity: 1;
            pointer-events: all;
            .issueTrackerBox{
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
}