
//form elements
input {
    color: inherit;
}
textarea {
    -webkit-appearance: none;
}
input, textarea {
    display: block;
    width: 100%;
    background: none;
    &::-webkit-input-placeholder{
        color: inherit;
        opacity:0.5;
    }
    &:-moz-placeholder{
        color: inherit;
        opacity:0.5;
    }
    &::-moz-placeholder{
        color: inherit;
        opacity:0.5;
    }
    &:-ms-input-placeholder {
       color: inherit;
       opacity:0.5;
   }
    &[type="number"], &[type="date"] {
        font-family: "Lato", sans-serif;
    }
}
[type="checkbox"] {
    display: inline-block;
    width: 1rem;
    font-size: 2rem;
    -webkit-appearance: checkbox;
}

label {
    font-size: fontSize("label");
    font-weight: fontWeight("bold");
    line-height: 1.75rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: color("dark");
    .icon{
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        background: #c4c4c4;
        color: white;
        font-size: 1em;
        line-height: 1.5em;
        text-align: center;
        font-weight: bold;
        font-family: "arvo", serif;
        text-transform: initial;
    }
}

select{
    visibility: hidden;
}

input, span{
    transition: color time("hover");
}
span{
    &.blockInput{
        display: block;
        width: 100%;
    }
}
.blockInput, .underlineInput, .outlineInput{
    position: relative;
    padding: 1em 1.25em;
    font-size: 0.875rem;
    line-height: 1.2em;
    overflow: hidden;
    color: color("darkest");
    &.error{
        color: color("error");
        & ~ .inputMessage{
            color: color("error");
        }
    }
    &.complete, &:valid{
        color: color("brand-blue");
    }
}
.blockInput{
    background: color("lightest");
    &.error{
        border-left: solid 3px color("error");
    }
    &.complete{
        border-left: solid 3px color("brand-blue");
        color: color("brand-blue");
    }
    & ~ .count{
        background: color("background");
    }
}
.underlineInput{
    border-bottom: solid 2px darken(color("lightest"), 5%);
    &.error{
        border-bottom-color: color("error");
    }
    &.complete, &.StripeElement--complete{
        border-bottom-color: color("brand-blue");
    }
    & ~ .inputMessage{
        position: absolute;
    }
    & ~ .count{
        backgound: darken(color("lightest"), 5%);
    }
}
textarea.underlineInput{
    border-color: darken(color("lightest"), 5%);
    outline: none;
}
.outlineInput{
    border: solid 1px color("lighter");
    &.error{
        border-bottom-color: color("error");
    }
    & ~ .inputMessage{
        position: absolute;
    }
    & ~ .count{
        backgound: darken(color("lightest"), 5%);
    }

    &.onLightest{
        border-color: color( "light" );
        background: white;
        &.moveLabelOnFocus{
            & + label{
                color: rgba( color("dark"), 0.6);
                background: transparent;
                z-index: 1;
                pointer-events: none;
                &:before{
                    content:"";
                    position: absolute;
                    top:45%;
                    left:0;
                    width: 100%;
                    height: 3px;
                    background: color( "lightest" );
                    z-index: -1;
                    opacity: 0;
                    transition: opacity 0.1s 0.1s;
                }
            }
            &:focus, &:valid, &.forceLabelAbove{
                & + label{
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.moveLabelOnFocus{
    z-index: 1;
    & + label{
        position: absolute;
        //top:50%;
        top: 1.9em;
        left:1rem;
        transform: translateY(-50%);
        margin-bottom: 0;
        line-height: 1rem;
        font-size: 0.75rem;
        color: inherit;
        transform-origin: left center;
        transition: transform time("hover"), opacity time("hover");
    }
    &:focus, &:valid, &.forceLabelAbove{
        & + label{
            transform: translateY(-160%) scale(0.75);
            opacity: 0.6;
            z-index: 1;
        }
        & ~ .currency{
            transform: translate(0, -50%);
            opacity: 1;
        }
    }
    &.outlineInput{
        & + label{
            background: white;
            padding:0 0.2em;
            & + .inputMessage{
                margin-top: 0.75em;
            }
        }
        &:focus, &:valid, &.forceLabelAbove{
            & + label{
                transform: translateY(-190%) scale(0.75);
                opacity: 1;
                color: rgba( color("dark"), 0.6);
            }
        }
    }

    //if centered
    &.text-align-center{
        & + label{
            left: calc( 50% - 2.7em );
        }
    }
}
textarea.moveLabelOnFocus{
    & + label{
        top: 1.5rem;
    }
    &:focus, &:valid, &.forceLabelAbove{
        & + label{
            transform: translateY(-190%) scale(0.75);
            opacity: 0.6;
            z-index: 1;
        }
    }
}

//for stripe inputs inside normal inputs
.underlineInput, .blockInput{
    &.StripeElement{
        opacity: 0;
        transition: opacity time("hover");
        &--focus, &--complete, &--invalid{
            opacity:1;
            &.moveLabelOnFocus ~ label{
                transform: translateY(-160%) scale(0.75);
                opacity: 0.6;
                z-index: 1;
            }
        }
    }
}
.underlineInput-forStripeElement{
    position: absolute;
    top: 2.75rem;
    width: 100%;
    border-bottom: solid 2px darken(color("lightest"), 5%);
    transition: border time("hover");
}



//dark modifier for inputs on dark background
.dark{
    .underlineInput{
        &:not(.error):not(.complete){
            color: color("lightest");
            border-bottom: solid 2px color("darkerForInputs");
        }
        & ~ .count{
            background: color("darkerForInputs");
        }
    }
    textarea.underlineInput{
        border-color: color("darkerForInputs");
        &.moveLabelOnFocus{
            &:focus, &:valid, &.forceLabelAbove{
                & + label{
                    padding: 0 0.5em;
                    background: color("darkest");
                    color: darken( color("dark"), 15%);
                    opacity: 1;
                }
            }
        }
        &.complete{
            border-color: color("brand-blue");
        }
    }
    .select2-container--button .select2-selection--single, .select2-container--button .select2-selection--multiple{
        background: color("darkerForInputs");
        .select2-selection__placeholder{
            color: color("light");
        }
    }
}



//dropdown
//look in libraries/select3




//multi-range slider
@supports (--css: variables) {
    input[type="range"].multirange {
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: top;
        width: 100%;
        background: linear-gradient(to right,
        color("lighter") 0,
        color("lighter") 100%
        ) no-repeat 0 45% / 100% 40%;

        &:focus{
            outline:none;
        }
        &::-moz-focus-outer{
            border:0;
        }

        &::-moz-range-track {
            border-color: transparent; /* needed to switch FF to "styleable" control */
            background: transparent;
        }

        &.original, &.ghost{

            //thumb
            &::-webkit-slider-thumb {
                position: relative;
                z-index: 2;
                -webkit-appearance: none;
                background: white;
                border: solid 1px color("light");
                width: 15px;
                height: 15px;
                transform: scale(1.25);
                border-radius: 50%;
            }
            &::-moz-range-thumb {
                transform: scale(1);
                z-index: 1;
                -moz-appearance: none;
                background: white;
                border: solid 1px color("light");
                width: 15px;
                height: 15px;
                transform: scale(1.25);
                border-radius: 50%;
            }
            &::-ms-thumb {
                -ms-appearance: none;
                appearance: none;
                background: white;
                border: solid 1px color("light");
                width: 15px;
                height: 15px;
                transform: scale(1.25);
                border-radius: 50%;
            }
        }

        &.original{
            position: absolute;
        }

        &.ghost {
            position: relative;
            background: var(--track-background);

            --track-background: linear-gradient(to right,
            transparent var(--low), var(--range-color) 0,
            var(--range-color) var(--high), transparent 0
            ) no-repeat 0 45% / 100% 40%;
            --range-color: color("brand-blue");

            &::-webkit-slider-runnable-track {
                background: var(--track-background);
            }

            &::-moz-range-track {
               background: var(--track-background);
           }
        }

        & ~ .range-value{
            font-size: fontSize("tiny");
            color: color("light");
            &.high{
                position: absolute;
                bottom: 0;
                right: 0;
            }
            @include smaller( $small ){
                line-height: 3em;
            }
        }
    }
}


.form-group{
    .form-item + .form-item{
        margin-top: 0.5rem;
    }
    & + .form-item{
        margin-top: 2rem;
    }
}

.form-row{
    .form-item + .form-item{
        margin-top:0;
    }
}

.form-item {
    position: relative;
    width: 100%;
    &.error {
        .form-input {
            color: color("error");
            border-color: color("error");
        }
        label {
            color: color("error");
        }
    }
    & + .form-item, & + .form-group {
        margin-top: 2rem;
    }

    &.checkbox{
        label{
            transform: none !important;
            color: color("brand-blue") !important;
            left: 0;
            margin-bottom: 0;
            position: relative;
            top: 0;
            font-size: 0.75em;
            text-transform: lowercase;
        }
    }

    @include larger( $smallTiny ){
        &.sixth-width &.quarter-width, &.third-width, &.half-width, &.twoThird-width{
            display: inline-block;
            vertical-align: top;
        }
        &.sixth-width{
            min-width: calc( 100% / 6);
            width: calc( 100% / 6 );
            & + .sixth-width, & + .third-width, & + .twoThird-width{
                margin-left: 1rem;
            }
        }
        &.quarter-width{
            width: calc(25% - 0.9rem);
            & + .quarter-width, & + .half-width{
                margin-left: 1rem;
            }
        }
        &.third-width{
            width: calc( 100% / 3 );
            & + .sixth-width, & + .third-width, & + .twoThird-width{
                margin-left: 1rem;
            }
        }
        &.half-width{
            width: calc( 50% - 0.75rem );
            &:nth-of-type(2){
                margin-top: 0;
            }
            &:nth-of-type(2n){
                margin-left: 1rem;
            }
            &:nth-of-type(1n + 3){
                margin-top: 1rem;
            }
            & + .quarter-width{
                margin-left: 1rem;
            }
        }
        &.twoThird-width{
            width: calc( ((100% / 3) * 2) - 1.5rem );
            & + .third-width{
                margin-left: 1rem;
            }
        }
    }

    label {
        margin-bottom: 0.5em;
    }
}
.form-input {
    position: relative;
    width: 100%;
    font-size: fontSize("body");
    line-height: 1.5rem;
    transition: color time("hover");
    &.required {
        position: relative;
        border-left: solid 3px;
    }
    &.label-above{
        label{
            display:block;
        }
    }
    .count{
        position: absolute;
        bottom:0;
        right:0;
        font-size: fontSize("instruct");
        padding: 0 0.5em;
        z-index: 10;
        transition: color time("hover"), background time("hover");
        &.warning{
            color: color("background");
            background: color("warning");
        }
        &.error{
            color: color("background");
            background: color("error");
        }
    }
    .instruct{
        margin-top: 0.75em;
        padding-left: 1.5em;
        padding-right: 1.25em;
        font-size: fontSize("instruct");
        line-height: 1.2em;
        color: color("dark");
    }
    .inputMessage{
        padding-left: 1.5em;
        padding-right: 1.25em;
    }

    //dropdown
    &.dropdown{
        label{
            position: absolute;
            top: -0.35em;
            left: 2.1em;
            padding: 0 0.2em;
            color: rgba( color("dark"), 0.6);
            font-size: 0.5625rem;
            line-height: 1em;
            background: white;
            z-index: layer("topContent");
        }
        .instruct{
            margin-top: 0.25em;
        }

        &.onLightest{
            label{
                background: transparent;
                z-index: 1;
                &:before{
                    content:"";
                    position: absolute;
                    top:28%;
                    left:0;
                    width: 100%;
                    height: 3px;
                    background: color( "lightest" );
                    z-index: -1;
                }
            }
            .rs3__selection{
                border-color: color( "light" );
            }
        }

        &.hideSearch{
            .rs3__search{
                display: none;
            }
        }

        &.showReset{
            padding-bottom: 0.75em;
        }

        .clearSelect{
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: fontSize("micro");
            line-height: 1.2em;
            letter-spacing: 0.05em;
            cursor: pointer;
        }
    }

    &[type=checkbox]{
        background: blue;
    }
}
.inputMessage, .pass-strength-message {
    font-size: fontSize("instruct");
    line-height: 1.5em;
    //letter-spacing: 0.07em;
    //text-transform: uppercase;
}