.globalHeader{
    position: sticky;
    top:0;
    transform: translateZ(0);
    background: color("background");
    //border-bottom: solid 3px #3080ed;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    z-index: layer("nav");
    transition: transform time("transition") cubic-bezier(0.43, 0.42, 0.3, 1.45);
}

.header-branding{
    position: relative;
    margin-right: 5em;
    background: color("brand-blue");
    font-size: fontSize("nav");
    &:after{
        content:"";
        position: absolute;
        bottom:0;
        left: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5em 0 0 2.5em;
        border-color: transparent transparent transparent color("brand-blue");
    }
}
.header-title{
    color: color("background");
    font-size: inherit;
    padding: 1.5em 2em 1.5em 3em;
}
.header-logo{
    width: 10em;
}

.globalNav{
    width: 100%;
}


.menu-item{
    position: relative;
    margin: 0 2em;
    font-size: fontSize("nav");
    font-weight: fontWeight("bold");
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: color("darker");
    transition: color time("hover") 2s;
    /*&:after{
        content:"";
        position: absolute;
        bottom: -0.25em;
        left: calc(50% - 1.5rem);
        width: 3rem;
        height: 0.5em;
        transform: translateY(1rem);
        opacity: 0;
        pointer-events: none;
        transition: transform time("hover") 2s, opacity time("hover") 2s;
    }*/
    &.active{
        &:after{
            opacity: 1;
            transform: translateY(0);
        }
    }
    &.writeAccessRequired{
        display:none;
    }
    .icon{
        margin-top: -0.25em;
        margin-right: 0.7em;
        stroke: color("brand-black");
    }
    @include smaller( 1200px ){
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
}

#root[data-usergroup="admin"], #root[data-usergroup="editor"]{
    .menu-item.writeAccessRequired{
        display: block;
    }
}

$subnavHeight: 3rem;
.subnav{
    height: $subnavHeight;
    background: color("brand-blue-dark");
    .menuItem, li{
        font-size: fontSize("nav");
        font-weight: fontWeight("bold");
    }
}


//subnav parents
.parents, .parents-list{
    position: relative;
    height: 100%;
}
.parents-item, .siblings-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: $subnavHeight;
    line-height: 1.25em;
}
.parents-item{
    position: relative;
    //line-height: 3rem;
    padding: 0 2em 0 4em;
    color: white;
    //arrow
    &:after{
        content:"";
        position: absolute;
        top: 50%;
        right: 1px;
        transform: translate(100%, -50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 2em 0 2em 1.4em;
        border-color: transparent;
    }
    &:nth-last-of-type(3) {
        background: color("brand-blue-darkest");
        z-index: 10;
        &:after{
            border-left-color: color("brand-blue-darkest");
        }
        &:before{
            content:"";
            position: absolute;
            top:0;
            left:0;
            width: 10em;
            height: 100%;
            transform: translateX(-100%);
            background: linear-gradient( to left, color("brand-blue-darkest") 0%, color("brand-blue-dark") 100%);
        }
    }
    &:nth-last-of-type(2) {
        background: color("brand-blue-darker");
        z-index: 5;
        &:after{
            border-left-color: color("brand-blue-darker");
        }
        &:before{
            content:"";
            position: absolute;
            top:0;
            left:0;
            width: 10em;
            height: 100%;
            transform: translateX(-100%);
            background: linear-gradient( to left, color("brand-blue-darker") 0%, color("brand-blue-dark") 100%);
        }
    }
    a{
        display: block;
    }
}


//subnav siblings
.siblings{
    max-width: 55%;
    color: color("brand-blue-light");
    & > a{
        min-width: 5.3em;
    }
}
.siblings-intro{
    padding-right: 1.5em;
    //line-height: 3rem;
    font-size: 0.625rem;
    font-weight: fontWeight("bold");
}
.siblings-list{
    margin-right: 1em;
}
.siblings-item{
    padding: 0 1em;
    a{
        max-height: 1.1em;
        overflow: hidden;
    }
}





//footer
.globalFooter{
    position: relative;
    top:0;
    background: color("lightest");
    //z-index: layer("nav");
}
.footerNav-column{
    & + .footerNav-column{
        margin-left: 2em;
    }
}
.footerNav-title{
    text-transform: capitalize;
}
