////////////////////* includes *///////////////////////////
@import '_vars';
@import '_animations';
@import '_functions';

#root[data-usergroup='viewer'] .projectPage{
    .pageTitle .button{
        display: none;
    }
}

.projectPage{

    .introStats{
        .dataGroup + .dataGroup{
            border-left: solid 1px rgba( color("background-dark-text"), 0.5 );
        }
    }

    .form-item[data-content='operative_id']{
        & + .button{
            top: 1em;
            left: 18.25em;
            z-index: layer("topContent");
        }
        &:focus-within{
            & + .button{
                color: color("brand-blue");
            }
        }
    }

}
