////////////////////* includes *///////////////////////////
@import '_vars';
@import '_animations';
@import '_functions';

.advertiserPage{
    .innerWrap-inner{
        padding-left: 6.75em;
    }
}

.alphabetSelector-letter{
    font-size: fontSize("focus");

    &[data-active="true"]{
        width: 1.5em;
        height: 1.5em;
        transform:translateY(-0.25em);
        margin: 0 0.2em;
        border-radius: 50%;
        background: color( "lighter" );
        color: color("background-dark-text");
        text-align: center;
        font-weight: fontWeight( "bold" );
        line-height: 1.5em;
        cursor: pointer;
    }
    &[data-active="false"]{
        margin: 0 0.5em;
        color: color( "light" );
        cursor: not-allowed;
    }
}



//advertiser detail page
.advertiserDetailPage{
    counter-reset: campaigns;
    .advertiser-group.campaign{
        padding: 2em;
        border: solid 1px color("light");
        .advertiser-group-letter{
            top: 1.35em;
            left: 1em;
            &:after{
                counter-increment: campaigns;
                content: counter( campaigns );
            }
        }
    }
}
.campaign-metaData{
    p{
        font-size: fontSize("nofocus");
        color: color("dark");
        & + p{
            margin-top: -0.25em;
        }
    }
}


//campaign detail page
.campaignPage{
    counter-reset: projects;
    .buildTags{
        display: none;
    }
    .filterTitle{
        text-align: left;
    }
}
.project-title{
    position: relative;
    .cardTitle{
        display: inline-block;
        position: relative;
        background: color("lightest");
        padding: 1em 1em 0 3em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        &:after{
            content: "";
            position: absolute;
            bottom: -0.35em;
            left: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 2.5em 0 0 1.25em;
            border-color: transparent transparent transparent color("lightest");
        }
    }
    .project-number{
        top: 1.5em;
        left: 1.25em;
        transform: none;
    }
}
.project-number{
    font-size: 0.9em;
    background: color("background");
    z-index: layer("topContent");
    &:after{
        counter-increment: projects;
        content: counter( projects );
    }
}

.project-data{
    background: color("lightest");
    .dataGroup{
        &:first-of-type{
            padding-left:1em;
        }
        &:last-of-type{
            padding-right:1em;
        }
    }
    .largeDataLabel{
        & + .largeDataLabel{
            margin-left: 2em;
        }
        .sectionTitleLarge{
            font-size: 2.5rem;
        }
    }
    .dataGroup-divider{
        width: 3px;
        background: color("lighter");
    }
}
.project-actions{
    position: relative;
    padding: 0.25em 0.25em 0.25em 3em;
    background: color("light");
    &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 2.5em 0 0 1.25em;
        border-color: transparent transparent transparent color("background");
        transform: scale(1.25);
        transform-origin: bottom left;
    }
}

.form-item[data-content="operative_id"]{
    max-width: 14em;
    & + .separator{
        margin-top: 0.35em;
    }
}
