/* z-indexes */
/* font sizes */
/* font weights */
@keyframes closeBurst {
  80% {
    transform: scale(1.1) rotate(45deg); }
  100% {
    transform: scale(1) rotate(45deg); } }

@keyframes button-dot-intro {
  0% {
    opacity: 0; }
  60% {
    opacity: 1;
    transform: scale(1, 1); }
  100% {
    transform: scale(0.75, 0.75); } }

@keyframes button-dot-pulse {
  0% {
    opacity: 1;
    transform: scale(0.75, 0.75); }
  15% {
    transform: scale(0.85, 0.85); }
  45% {
    transform: scale(0.75, 0.75); }
  55% {
    transform: scale(0.95, 0.95); }
  85% {
    transform: scale(0.75, 0.75); }
  100% {
    opacity: 1;
    transform: scale(0.75, 0.75); } }

@keyframes button-ready {
  0% {
    margin-left: 1.25rem;
    width: 2.5rem; }
  10% {
    background-color: #5585ff;
    border-color: #5585ff; }
  70% {
    margin: 0;
    width: 7.25rem;
    background-color: #fff;
    transform: scale(1.1, 1.1); }
  100% {
    margin: 0;
    width: 7rem;
    border-color: #8cce1e;
    background-color: #fff; } }

@keyframes button-dot-outro {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1, 1); } }

@keyframes button-ready-label {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(-40px); } }

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  30% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes pulse {
  0%, 20% {
    transform: scale(1); }
  10% {
    transform: scale(1.1); } }

.advertiserPage .innerWrap-inner {
  padding-left: 6.75em; }

.alphabetSelector-letter {
  font-size: 1.125rem; }
  .alphabetSelector-letter[data-active="true"] {
    width: 1.5em;
    height: 1.5em;
    transform: translateY(-0.25em);
    margin: 0 0.2em;
    border-radius: 50%;
    background: #e9e9e9;
    color: #5A6C8E;
    text-align: center;
    font-weight: 700;
    line-height: 1.5em;
    cursor: pointer; }
  .alphabetSelector-letter[data-active="false"] {
    margin: 0 0.5em;
    color: #c4c4c4;
    cursor: not-allowed; }

.advertiserDetailPage {
  counter-reset: campaigns; }
  .advertiserDetailPage .advertiser-group.campaign {
    padding: 2em;
    border: solid 1px #c4c4c4; }
    .advertiserDetailPage .advertiser-group.campaign .advertiser-group-letter {
      top: 1.35em;
      left: 1em; }
      .advertiserDetailPage .advertiser-group.campaign .advertiser-group-letter:after {
        counter-increment: campaigns;
        content: counter(campaigns); }

.campaign-metaData p {
  font-size: 0.875rem;
  color: #959595; }
  .campaign-metaData p + p {
    margin-top: -0.25em; }

.campaignPage {
  counter-reset: projects; }
  .campaignPage .buildTags {
    display: none; }
  .campaignPage .filterTitle {
    text-align: left; }

.project-title {
  position: relative; }
  .project-title .cardTitle {
    display: inline-block;
    position: relative;
    background: #f7f7f7;
    padding: 1em 1em 0 3em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em; }
    .project-title .cardTitle:after {
      content: "";
      position: absolute;
      bottom: -0.35em;
      left: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 2.5em 0 0 1.25em;
      border-color: transparent transparent transparent #f7f7f7; }
  .project-title .project-number {
    top: 1.5em;
    left: 1.25em;
    transform: none; }

.project-number {
  font-size: 0.9em;
  background: white;
  z-index: 1050; }
  .project-number:after {
    counter-increment: projects;
    content: counter(projects); }

.project-data {
  background: #f7f7f7; }
  .project-data .dataGroup:first-of-type {
    padding-left: 1em; }
  .project-data .dataGroup:last-of-type {
    padding-right: 1em; }
  .project-data .largeDataLabel + .largeDataLabel {
    margin-left: 2em; }
  .project-data .largeDataLabel .sectionTitleLarge {
    font-size: 2.5rem; }
  .project-data .dataGroup-divider {
    width: 3px;
    background: #e9e9e9; }

.project-actions {
  position: relative;
  padding: 0.25em 0.25em 0.25em 3em;
  background: #c4c4c4; }
  .project-actions:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.5em 0 0 1.25em;
    border-color: transparent transparent transparent white;
    transform: scale(1.25);
    transform-origin: bottom left; }

.form-item[data-content="operative_id"] {
  max-width: 14em; }
  .form-item[data-content="operative_id"] + .separator {
    margin-top: 0.35em; }
