/* z-indexes */
/* font sizes */
/* font weights */
.homePage {
  position: relative;
  margin-top: -3.25em;
  margin-bottom: -6em;
  min-height: 100vh;
  background: #242C3A url(../img/homepage.jpg) no-repeat top center;
  background-size: cover;
  z-index: 6000; }
  .homePage:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transform: skewX(20deg);
    background: white; }
    @media (min-width: 1801px) {
      .homePage:before {
        transform: skewX(-20deg) translateX(-35%); } }
    @media (min-width: 1281px) and (max-width: 1800px) {
      .homePage:before {
        transform: skewX(-20deg) translateX(-40%); } }
    @media (max-width: 1280px) {
      .homePage:before {
        transform: skewX(-20deg) translateX(-50%); } }
  .homePage .logo {
    width: 16em; }

.dashboardPage {
  min-height: 70vh;
  margin-bottom: -6em;
  background: #242C3A; }
  .dashboardPage .innerWrap {
    padding-bottom: 6em; }
  .dashboardPage .sectionTitle svg {
    vertical-align: middle;
    width: 0.7em;
    height: 0.7em;
    transform: translateY(-0.1em);
    margin-right: 0.4em;
    fill: none;
    stroke: #5A6C8E; }

.pinWrap {
  position: relative;
  background: #343f53;
  border-radius: 1.25em;
  /*.timestamp{
        margin-top: -1.5em;
        font-size: fontSize("tiny");
    }*/ }
  .pinWrap .pin-actions {
    position: absolute;
    top: 1.25em;
    right: 1em;
    font-size: 0.875rem; }
    .pinWrap .pin-actions-open {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2000; }
      .pinWrap .pin-actions-open .button {
        min-width: 14em; }
    .pinWrap .pin-actions .button-close {
      position: absolute;
      top: 0em;
      right: 0.2em;
      min-width: 0;
      transform: rotate(45deg);
      font-size: 1.5em;
      transition: transform 0.3s; }
      .pinWrap .pin-actions .button-close:hover {
        text-decoration: none;
        transform: rotate(45deg) scale(1.2); }

.pin-data-item {
  font-size: 0.75rem; }
  .pin-data-item + .pin-data-item {
    margin-left: 1rem;
    margin-top: 0; }
