////////////////////* includes *///////////////////////////
@import '_vars';
@import '_functions';


.homePage{
    position: relative;
    margin-top: -3.25em;
    margin-bottom: -6em;
    min-height: 100vh;
    background: color( "background-dark" ) url( ../img/homepage.jpg ) no-repeat top center;
    background-size: cover;
    z-index: layer( "aboveNav" );

    &:before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        transform: skewX( 20deg );
        background: white;
        @include larger( 1800px ){
            transform: skewX(-20deg) translateX(-35%);
        }
        @include between( $large, 1800px ){
            transform: skewX(-20deg) translateX(-40%);
        }
        @include smaller( $large ){
            transform: skewX(-20deg) translateX(-50%);
        }
    }

    .logo{
        width: 16em;
    }
}

.dashboardPage{
    min-height: 70vh;
    margin-bottom: -6em;
    background: color( "background-dark" );

    .innerWrap{
        padding-bottom: 6em;
    }

    .sectionTitle{
        svg{
            vertical-align: middle;
            width: 0.7em;
            height: 0.7em;
            transform: translateY(-0.1em);
            margin-right: 0.4em;
            fill: none;
            stroke: color( "background-dark-text" );
        }
    }
}


.pinWrap{
    position: relative;
    background: lighten( color("background-dark"), 8% );
    border-radius: 1.25em;
    .pin-actions{
        position: absolute;
        top: 1.25em;
        right: 1em;
        font-size: fontSize("nofocus");
        &-open{
            position: absolute;
            top: 0;
            right: 0;
            z-index: layer("moduleControls");
            .button{
                min-width:14em;
            }
        }
        .button-close{
            position: absolute;
            top: 0em;
            right: 0.2em;
            min-width: 0;
            transform: rotate( 45deg );
            font-size: 1.5em;
            transition: transform time("hover");
            &:hover{
                text-decoration: none;
                transform: rotate( 45deg ) scale( 1.2 );
            }
        }
    }
    /*.timestamp{
        margin-top: -1.5em;
        font-size: fontSize("tiny");
    }*/
}

.pin-metrics{

}

.pin-data{
    &-item{
        font-size: fontSize( "tiny" );
        & + &{
            margin-left: 1rem;
            margin-top: 0;
        }
    }
}

