////////////////////* includes *///////////////////////////
@import '_normalize';
@import '_vars';
@import '_animations';
@import '_functions';
@import 'libraries/_sweetalert';
@import '_elements';
@import '_typography';
@import '_buttons';
@import '_formElements';
@import '_nav';



/////////////////////////* specific element styles *//////////////////////////////
#root{
    overflow-x: hidden;
    & > div{
        min-height:100vh;
    }
}

@import '_layout';
@import '_data+graphs';

@import '_project';
@import "_benchmarks";