@charset "UTF-8";
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* box-sizing
    mike added */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* mike added */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

/* mike removed
sup {
  top: -0.5em;
}
*/
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0;
  border: 0;
  -webkit-appearance: none;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* mike added */
h1, h2, h3, h4, h5, h6, p, a, span, input, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* z-indexes */
/* font sizes */
/* font weights */
@keyframes closeBurst {
  80% {
    transform: scale(1.1) rotate(45deg);
  }
  100% {
    transform: scale(1) rotate(45deg);
  }
}
@keyframes button-dot-intro {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.75, 0.75);
  }
}
@keyframes button-dot-pulse {
  0% {
    opacity: 1;
    transform: scale(0.75, 0.75);
  }
  15% {
    transform: scale(0.85, 0.85);
  }
  45% {
    transform: scale(0.75, 0.75);
  }
  55% {
    transform: scale(0.95, 0.95);
  }
  85% {
    transform: scale(0.75, 0.75);
  }
  100% {
    opacity: 1;
    transform: scale(0.75, 0.75);
  }
}
@keyframes button-ready {
  0% {
    margin-left: 1.25rem;
    width: 2.5rem;
  }
  10% {
    background-color: #5585ff;
    border-color: #5585ff;
  }
  70% {
    margin: 0;
    width: 7.25rem;
    background-color: #fff;
    transform: scale(1.1, 1.1);
  }
  100% {
    margin: 0;
    width: 7rem;
    border-color: #8cce1e;
    background-color: #fff;
  }
}
@keyframes button-dot-outro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1, 1);
  }
}
@keyframes button-ready-label {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes pulse {
  0%, 20% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
}
body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.sweet-overlay, .overlay {
  background-color: rgba(18, 29, 47, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000;
}

.sweet-alert {
  background-color: white;
  width: 478px;
  padding: 1rem 2rem 2rem;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999;
}

@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px;
  }
}
.sweet-alert h2 {
  font-size: 1.75rem;
  line-height: 1.35em;
  text-align: center;
  font-weight: 700;
  text-transform: none;
  position: relative;
  margin: 1rem 0;
  padding: 0;
  display: block;
}
@media (max-width: 480px) {
  .sweet-alert h2 {
    font-size: 0.75rem;
  }
}

.sweet-alert p {
  color: #797979;
  font-size: 1.0667rem;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.sweet-alert fieldset {
  border: none;
  position: relative;
}

.sweet-alert .sa-error-container {
  background-color: #f1f1f1;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  webkit-transition: padding 0.15s, max-height 0.15s;
  transition: padding 0.15s, max-height 0.15s;
}

.sweet-alert .sa-error-container.show {
  padding: 10px 0;
  max-height: 100px;
  webkit-transition: padding 0.2s, max-height 0.2s;
  transition: padding 0.25s, max-height 0.25s;
}

.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: white;
  line-height: 24px;
  text-align: center;
  margin-right: 3px;
}

.sweet-alert .sa-error-container p {
  display: inline-block;
}

.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #f06e57;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -9px;
}

.sweet-alert .sa-input-error::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sweet-alert .sa-input-error::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sweet-alert .sa-input-error.show {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.sweet-alert input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
  padding: 0 12px;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sweet-alert input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
  border: 1px solid #b4dbed;
}

.sweet-alert input:focus::-moz-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}

.sweet-alert input:focus:-ms-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}

.sweet-alert input:focus::-webkit-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}

.sweet-alert input::-moz-placeholder {
  color: #bdbdbd;
}

.sweet-alert input::-ms-clear {
  display: none;
}

.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd;
}

.sweet-alert input::-webkit-input-placeholder {
  color: #bdbdbd;
}

.sweet-alert.show-input input {
  display: block;
}

.sweet-alert .sa-confirm-button-container {
  display: inline-block;
  position: relative;
}

.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden;
}

.sweet-alert button {
  background-color: #8CD4F5;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 1.0667rem;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 1em 2em;
  margin: 1.5em 0.25em 0 0.25em;
  cursor: pointer;
}
@media (max-width: 425px) {
  .sweet-alert button {
    font-size: 0.875rem;
  }
}

.sweet-alert button:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.sweet-alert button:hover {
  background-color: #7ecff4;
}

.sweet-alert button:active {
  background-color: #5dc2f1;
}

.sweet-alert button.cancel {
  background-color: #C1C1C1;
}

.sweet-alert button.cancel:hover {
  background-color: #b9b9b9;
}

.sweet-alert button.cancel:active {
  background-color: #a8a8a8;
}

.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important;
}

.sweet-alert button[disabled] {
  opacity: 0.6;
  cursor: default;
}

.sweet-alert button.confirm[disabled] {
  color: transparent;
}

.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.sweet-alert button::-moz-focus-inner {
  border: 0;
}

.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important;
}

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 40px;
}

.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.sweet-alert .sa-icon.sa-error {
  border-color: #F27474;
}

.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block;
}

.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #F27474;
  display: block;
  top: 37px;
  border-radius: 2px;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 17px;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 16px;
}

.sweet-alert .sa-icon.sa-warning {
  border-color: #F8BB86;
}

.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86;
}

.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86;
}

.sweet-alert .sa-icon.sa-info {
  border-color: #C9DAE1;
}

.sweet-alert .sa-icon.sa-info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #C9DAE1;
}

.sweet-alert .sa-icon.sa-info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #C9DAE1;
  left: 50%;
}

.sweet-alert .sa-icon.sa-success {
  border-color: #A5DC86;
}

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  content: "";
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sweet-alert .sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.sweet-alert .sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #A5DC86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sweet-alert .sa-icon.sa-custom {
  background-size: contain;
  border-radius: 0;
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
}

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}
@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}
@-webkit-keyframes slideFromTop {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}
@keyframes slideFromTop {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}
@-webkit-keyframes slideToTop {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}
@keyframes slideToTop {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}
@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}
@keyframes slideFromBottom {
  0% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}
@-webkit-keyframes slideToBottom {
  0% {
    top: 50%;
  }
  100% {
    top: 70%;
  }
}
@keyframes slideToBottom {
  0% {
    top: 50%;
  }
  100% {
    top: 70%;
  }
}
.showSweetAlert[data-animation=pop] {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s;
}

.showSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none;
}

.showSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideFromTop 0.3s;
  animation: slideFromTop 0.3s;
}

.showSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideFromBottom 0.3s;
  animation: slideFromBottom 0.3s;
}

.hideSweetAlert[data-animation=pop] {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s;
}

.hideSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none;
}

.hideSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideToTop 0.4s;
  animation: slideToTop 0.4s;
}

.hideSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideToBottom 0.3s;
  animation: slideToBottom 0.3s;
}

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}
.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s;
}

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}
.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s;
}

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486;
  }
  100% {
    border-color: #F8BB86;
  }
}
@keyframes pulseWarning {
  0% {
    border-color: #F8D486;
  }
  100% {
    border-color: #F8BB86;
  }
}
.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate;
}

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }
  100% {
    background-color: #F8BB86;
  }
}
@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }
  100% {
    background-color: #F8BB86;
  }
}
.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate;
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9 ;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9 ;
}

/* Success icon */
.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9 ;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9 ;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9 ;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall, .la-ball-fall > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff;
}

.la-ball-fall.la-dark {
  color: #333;
}

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.la-ball-fall {
  width: 54px;
  height: 18px;
}

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-fall 1s ease-in-out infinite;
  -moz-animation: ball-fall 1s ease-in-out infinite;
  -o-animation: ball-fall 1s ease-in-out infinite;
  animation: ball-fall 1s ease-in-out infinite;
}

.la-ball-fall > div:nth-child(1) {
  -webkit-animation-delay: -200ms;
  -moz-animation-delay: -200ms;
  -o-animation-delay: -200ms;
  animation-delay: -200ms;
}

.la-ball-fall > div:nth-child(2) {
  -webkit-animation-delay: -100ms;
  -moz-animation-delay: -100ms;
  -o-animation-delay: -100ms;
  animation-delay: -100ms;
}

.la-ball-fall > div:nth-child(3) {
  -webkit-animation-delay: 0ms;
  -moz-animation-delay: 0ms;
  -o-animation-delay: 0ms;
  animation-delay: 0ms;
}

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px;
}

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px;
}

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px;
}

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px;
}

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px;
}

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px;
}

/*
 * Animation
 */
@-webkit-keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%);
  }
}
@-moz-keyframes ball-fall {
  0% {
    opacity: 0;
    -moz-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(145%);
    transform: translateY(145%);
  }
}
@-o-keyframes ball-fall {
  0% {
    opacity: 0;
    -o-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -o-transform: translateY(145%);
    transform: translateY(145%);
  }
}
@keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    -moz-transform: translateY(-145%);
    -o-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    -moz-transform: translateY(145%);
    -o-transform: translateY(145%);
    transform: translateY(145%);
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.hide {
  display: none;
}

.color-background {
  color: white;
}

.color-onDarkBackground {
  color: #5A6C8E;
}

.color-white {
  color: white;
}

.color-light {
  color: #c4c4c4;
}

.color-dark {
  color: #959595;
}

.color-darker {
  color: #797979;
}

.color-darkest {
  color: #363636;
}

.color-blue {
  color: #2F80ED;
}

.color-pink {
  color: #c73369;
}

.color-darkestBlue {
  color: #1C355F;
}

.background-background {
  background: white;
}

.background-backgroundDark {
  background: #242C3A;
}

.background-lightest {
  background: #f7f7f7;
}

.background-dark {
  background: #959595;
}

.background-darker {
  background: #797979;
}

.background-darkest {
  background: #363636;
}

.background-blue {
  background: #2F80ED;
}

.border-top {
  border-top: solid 1px;
}

.border-right {
  border-right: solid 1px;
}

.border-bottom {
  border-bottom: solid 1px;
}

.border-left {
  border-left: solid 1px;
}

.dash-below {
  position: relative;
  padding-bottom: 0.45em;
  margin-bottom: 0.35em;
}
.dash-below:after {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 0.1em;
  top: calc(100% - 0.1em);
}
.dash-below.dash-large {
  padding-bottom: 0.8em;
  margin-bottom: 0.7em;
}
.dash-below.dash-large:after {
  width: 2em;
  height: 0.2em;
  top: calc(100% - 0.2em);
}
.dash-below.dash-center:after {
  left: 50%;
  transform: translateX(-50%);
}
.dash-below.dash-gray:after {
  background-color: #e9e9e9;
}
.dash-below.dash-onDark:after {
  background-color: #5A6C8E;
}
.dash-below.dash-blue:after {
  background-color: #2F80ED;
}

.actions.align-right {
  text-align: right;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
.icon + a, .icon + p {
  display: inline-block;
  vertical-align: middle;
}

.backToAll {
  position: absolute;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1400px;
  text-align: left;
}
@media (max-width: 1420px) {
  .backToAll {
    padding-left: 2em;
  }
}

.section {
  position: relative;
  top: 0;
  left: 0;
  background: white;
}
@media (min-width: 701px) {
  .section.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
}
.section.hideOverflow {
  overflow: hidden;
}

.modal .modal-title {
  position: relative;
  margin-bottom: 2rem;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  max-width: 120px;
  max-height: 120px;
  background: #f7f7f7;
}
.avatar img {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  transform: translate(-1px, -1px);
  object-fit: cover;
  border: none;
  outline: none;
}

.paginationWrap .pagination {
  display: inline-block;
  border-radius: 2em;
  border: solid 1px #e9e9e9;
}
.paginationWrap li {
  display: inline-block;
  padding: 0.75em;
  padding-bottom: 0.8em;
  font-size: 0.875rem;
  cursor: pointer;
}
.paginationWrap li.pagination-button {
  transition: color 0.3s;
}
.paginationWrap li.pagination-button:not(.disabled):hover {
  color: #2F80ED;
}
.paginationWrap li.pagination-button.disabled {
  cursor: not-allowed;
}
.paginationWrap li.pagination-button.back {
  padding-left: 1.25em;
}
.paginationWrap li.pagination-button.next {
  padding-right: 1.25em;
}
.paginationWrap .pagination-pages {
  display: inline-block;
}
.paginationWrap .pagination-pages li {
  position: relative;
  font-family: "Lato", sans-serif;
  transition: color 0.3s;
  z-index: 1;
}
.paginationWrap .pagination-pages li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;
  background: #2F80ED;
  transition: transform 0.3s;
  z-index: -1;
}
.paginationWrap .pagination-pages li:hover {
  color: white;
}
.paginationWrap .pagination-pages li:hover:before {
  transform: translate(-50%, -50%) scale(0.75);
}
.paginationWrap .pagination-pages li.active {
  color: white;
}
.paginationWrap .pagination-pages li.active:before {
  transform: translate(-50%, -50%) scale(1);
}
.paginationWrap .pagination-pages li.itemsHiddenBefore {
  margin-left: 2em;
}
.paginationWrap .pagination-pages li.itemsHiddenBefore:after {
  content: "...";
  position: absolute;
  left: -1.5em;
  top: 50%;
  transform: translateY(-50%);
}
.paginationWrap .pagination-pages li.itemsHiddenAfter {
  margin-right: 2em;
}
.paginationWrap .pagination-pages li.itemsHiddenAfter:after {
  content: "...";
  position: absolute;
  right: -1.5em;
  top: 50%;
  transform: translateY(-50%);
}

.loaderWrap {
  position: relative;
  width: 24em;
  height: 2em;
  margin: 0 auto;
  transform: translateY(-40%);
}
.loaderWrap:before, .loaderWrap:after {
  content: "";
  position: absolute;
  top: -50%;
  width: 4em;
  height: 5em;
  background: #242C3A;
  z-index: 1050;
}
.loaderWrap:before {
  left: 0;
  transform: translateX(-100%);
  box-shadow: 1em 0em 1.5em -1em rgba(0, 0, 0, 0.5);
}
.loaderWrap:after {
  right: 0;
  transform: translateX(100%);
  box-shadow: -1em 0em 1.5em -1em rgba(0, 0, 0, 0.5);
}

.loader {
  position: absolute;
  top: calc(50% - 0.8em);
  left: calc(50% - 0.8em);
  animation: loader 5s linear infinite;
}
.loader .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  background: #2F80ED;
  border-radius: 0.12em;
  animation: animate 0.5s linear infinite;
}
.loader .shadow {
  width: 2em;
  height: 0.2em;
  background: black;
  opacity: 0.2;
  position: absolute;
  top: 2.36em;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}

@keyframes loader {
  0% {
    left: calc(50% - 16em);
  }
  100% {
    left: calc(50% + 14em);
  }
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(0.36em) rotate(22.5deg);
  }
  50% {
    transform: translateY(0.72em) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 1.6em;
  }
  75% {
    transform: translateY(0.36em) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}
.headerSlantedEdge {
  position: relative;
  z-index: 1000;
}
.headerSlantedEdge + .mainContent {
  z-index: 1050;
}
.headerSlantedEdge.filterOpen {
  z-index: auto;
}
@media (min-width: 1201px) {
  .headerSlantedEdge:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    transform: translateY(60%) skewY(-4deg);
    background: inherit;
    z-index: -1;
  }
  .headerSlantedEdge + .mainContent .innerWrap {
    z-index: 1;
  }
  .headerSlantedEdge + .mainContent .innerWrap:before, .headerSlantedEdge + .mainContent .innerWrap:after {
    content: "";
    position: absolute;
    top: 0;
    width: 1vw;
    height: 20vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.15);
    z-index: -1;
  }
  .headerSlantedEdge + .mainContent .innerWrap:before {
    left: 0.3vw;
    transform: skewX(3deg);
  }
  .headerSlantedEdge + .mainContent .innerWrap:after {
    right: 0.3vw;
    transform: skewX(-3deg);
  }
  .headerSlantedEdge + .mainContent .innerWrap .innerWrap-inner {
    min-height: 20vw;
  }
}

.mainContent {
  position: relative;
}

.largeDataLabel label {
  color: inherit;
}

.pageMetaHeader {
  position: relative;
  perspective: 800px;
  perspective-origin: 75% top;
  z-index: 2000;
}
.pageMetaHeader .actions.flex-column {
  height: 2.45em;
}
.pageMetaHeader .actions.flex-column .button {
  min-height: 3.275em;
}
.pageMetaHeader .actions.flex-column .button + .button {
  margin-left: 0;
  margin-top: 0.75em;
}

.metaHeader-expandable {
  position: absolute;
  top: 2.25em;
  right: -1em;
  padding: 2em 1.5em;
  background: white;
  opacity: 0;
  filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.1));
  transform: rotateX(92.5deg);
  transform-origin: top center;
  transition: transform 0.5s, opacity 0.3s;
  z-index: 2000;
}
.metaHeader-expandable:before, .metaHeader-expandable:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
}
.metaHeader-expandable:before {
  right: 0;
  height: 3.25em;
  transform: translateY(-100%);
  background: white;
}
.metaHeader-expandable:after {
  transform: translateY(-100%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 3.25em 1.8em;
  border-color: transparent transparent white transparent;
}
.metaHeader-expandable.show {
  opacity: 1;
  transform: rotateX(0);
}

.filterWrap {
  max-width: calc( 400px + 3em );
}
.filterWrap:before {
  width: 10em;
}
.filterWrap:after {
  right: 10em;
}
.filterWrap .filterBtn {
  position: absolute;
  top: -3em;
  right: 2em;
}
.filterWrap .form-item[data-content=endDate] label {
  left: calc( 50% - 2.2em);
}

.filterTitle .icon {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  transform: translateY(-10%);
  stroke: #959595;
}

.reportItem {
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: 0.3em;
  padding: 1em 1.5em;
  font-size: 0.75rem;
  text-align: center;
  cursor: pointer;
}
.reportItem + .reportItem.button {
  margin-left: 0.3em;
}
.reportItem[data-role=carousel].button {
  margin-left: 0;
}

.filterWrap + .tagGeneratorWrap {
  top: 8.3em;
}

.tagGeneratorWrap {
  width: 1235px;
  z-index: -1;
}
.tagGeneratorWrap:before {
  width: 13em;
}
.tagGeneratorWrap:after {
  right: 13em;
}
.tagGeneratorWrap.show {
  opacity: 1;
  transform: rotateX(0);
  z-index: 1050;
}
.tagGeneratorWrap .createTagsBtn {
  position: absolute;
  top: -3em;
  right: 2em;
  min-width: 14em;
}
.tagGeneratorWrap .contentWrapper {
  min-height: 400px;
  max-height: 600px;
}
.tagGeneratorWrap .intro {
  width: 26em;
  min-width: 26em;
}
.tagGeneratorWrap .intro #tagsBuilder {
  max-height: 500px;
  overflow-y: scroll;
}
.tagGeneratorWrap #generatedTags {
  margin-left: 1.5em;
  padding-left: 2em;
  border-left: solid 1px #e9e9e9;
  overflow-y: scroll;
}

.tagWrap {
  position: relative;
  margin-bottom: 1.5em;
  padding: 1em 1em 2em;
  background: #f7f7f7;
}
.tagWrap .button.deleteTag {
  position: absolute;
  top: 2em;
  right: 1.75em;
}

.renderedTag {
  margin-bottom: 2em;
  font-size: 0.875rem;
}
.renderedTag .tag-name {
  font-size: 0.85em;
}
.renderedTag .tag-value {
  color: #2F80ED;
  font-size: inherit;
  line-height: 1.35em;
  word-break: break-all;
  padding-right: 3.6em;
}
.renderedTag .deleteTag {
  transform: translateY(-0.475em);
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}
.overlay .overlayInner {
  background: white;
  transform: scale(0.8);
  transition: transform 0.5s;
}
.overlay .overlayItem {
  display: none;
}
.overlay .overlayItem.active {
  display: block;
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}
.overlay.active .overlayInner {
  transform: scale(1);
}

/*
    Datepicker styling overrides
    Builds on react-day-picker
*/
.DatePicker .resetDates {
  transform: translateY(-0.3em);
}

.DayPicker {
  margin-top: 1em;
  outline: 0;
}

.DayPicker-wrapper {
  outline: 0;
}

.DayPicker-Day {
  padding: 1em;
  outline: 0;
  color: #797979;
}
.DayPicker-Day--disabled {
  color: #c4c4c4;
  background: #e9e9e9;
  cursor: not-allowed;
}
.DayPicker-Day--today {
  color: #223E6B;
  font-weight: 700;
}
.DayPicker-Day--selected {
  color: white;
  background-color: #2F80ED !important;
}

.DayPicker-NavButton {
  width: 1em;
  height: 1em;
  outline: 0;
}

.DayPicker-Caption {
  height: 2.125em;
  font-size: 0.875em;
}

.DayPicker-Weekday {
  padding: 0.5em;
  font-size: 0.75em;
  color: #c4c4c4;
}
.DayPicker-Weekday abbr {
  text-decoration: none;
}

.cardHeadline .cardTitle {
  display: inline-block;
  position: relative;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: #f7f7f7;
  color: #959595;
  padding: 1em 1em 0 1.5em;
}
.cardHeadline .cardTitle:after {
  content: "";
  position: absolute;
  bottom: -0.35em;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5em 0 0 1.25em;
  border-color: transparent transparent transparent #f7f7f7;
}

.separator-or p {
  padding: 0.515em 0.5em 0.633em;
  line-height: 0.8em;
  background: #c4c4c4;
  border-radius: 50%;
}

.annotations p + p {
  margin-top: 0;
}

.advertiser-group {
  position: relative;
  align-self: start;
}

.advertiser-group-letter {
  position: absolute;
  top: -0.45em;
  left: -0.5em;
  transform: translateX(-100%);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #e9e9e9;
  color: #5A6C8E;
  text-align: center;
  font-weight: 700;
  line-height: 2em;
}

body .notification {
  position: fixed;
  margin: 1em;
  padding: 1em;
  box-shadow: 5px 6px 20px #797979;
  border-radius: 3px;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background: #f7f7f7;
  opacity: 0;
  transition: 0.5s;
}
body .notification.active {
  z-index: 10000;
  transform: translateX(0);
  opacity: 1;
}
body .notification.success {
  color: #2F80ED;
}
body .notification.error {
  color: white;
  background: #c54a4a;
}
body .notification.warning {
  color: white;
  background: #c19e4d;
}
body .issueTrackerContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(54, 54, 54, 0.75);
  z-index: 7000;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
}
body .issueTrackerContainer .issueTrackerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  padding: 2em;
  background: white;
  transition: 0.5s;
}
body .issueTrackerContainer .issueTrackerBox .cardTitle {
  text-align: center;
  padding-bottom: 0.25em;
}
body .issueTrackerContainer .issueTrackerBox label {
  background: white;
}
body .issueTrackerContainer .issueTrackerBox .form-input.dropdown {
  color: black;
}
body .issueTrackerContainer .issueTrackerBox .buttonContainer {
  padding-top: 1em;
}
body .issueTrackerContainer.active {
  opacity: 1;
  pointer-events: all;
}
body .issueTrackerContainer.active .issueTrackerBox {
  transform: translate(-50%, -50%) scale(1);
}

html {
  font-family: "Roboto", Arial, sans-serif;
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  html {
    font-size: 14.4px;
  }
}
@media (min-width: 701px) and (max-width: 800px) {
  html {
    font-size: 13.6px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 12.8px;
  }
}

body {
  -webkit-text-size-adjust: none;
}

h1, .headline {
  font-size: 4.9vw;
  font-weight: 700;
  line-height: 1.5em;
}
@media (min-width: 701px) and (max-width: 1100px) {
  h1, .headline {
    font-size: 4rem;
  }
}
@media (max-width: 700px) {
  h1, .headline {
    font-size: 3rem;
  }
}

h2, .sectionTitleLarge {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5em;
}

h3, .sectionTitle {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5em;
}

h4, .cardTitle {
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  line-height: 1.5em;
}

h5, .smallBody, .largeLabel {
  font-size: 0.875rem;
  line-height: 1.5em;
}

h6, .sectionTitleSmall {
  font-size: 1.0667rem;
  font-weight: 600;
  line-height: 1.5em;
}

.small, small {
  font-size: 0.75em;
}

.xsmall {
  font-size: 0.625em;
}

sup {
  position: relative;
  top: -0.3em;
  font-size: 0.7em;
}

p {
  font-size: 1.0667rem;
  line-height: 1.6rem;
  font-weight: 400;
  margin: 0;
}
p + p {
  margin-top: 0.75em;
}
p.focus {
  font-size: 1.125rem;
  line-height: 1.8rem;
}
p.nofocus {
  font-size: 0.875rem;
  line-height: 1.4rem;
}
p.tiny {
  font-size: 0.75rem;
  line-height: 1rem;
}

.largeLabel {
  position: relative;
}
.largeLabel.showDash {
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
}
.largeLabel.showDash:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.25rem;
  height: 0.25rem;
  background: currentColor;
}

.arvo {
  font-family: "Arvo", serif;
}

.number, .lato {
  font-family: "Lato", sans-serif;
}

input, textarea {
  font-family: inherit;
}

.block {
  display: block;
}

.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}
.uppercase.add-spacing {
  letter-spacing: 0.1em;
}

.capitalize {
  text-transform: capitalize;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.sectionTitle .icon {
  display: inline-block;
  vertical-align: top;
  height: 1.25em;
}

.icon {
  fill: currentColor;
  stroke: currentColor;
}

.error {
  color: #c54a4a;
}

a, button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  background: none;
  padding: 0;
}

.button {
  display: inline-block;
  position: relative;
  border: solid 1px currentColor;
  border-radius: 0;
  font-weight: 700;
  line-height: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  overflow: hidden;
}
.button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 600%;
  background: currentColor;
  transform: translate(-57%, 28%) rotate(30deg);
  transition: transform 0.3s;
}
.button:hover:not(.textOnly):after, .button.active:not(.textOnly):after {
  transform: translate(-20%, -43%) rotate(30deg);
}
.button:hover:not(.textOnly) .buttonInner, .button.active:not(.textOnly) .buttonInner {
  color: white;
}
.button.extraLarge {
  font-size: 1.0667rem;
}
.button.primary {
  font-size: 0.875rem;
  padding: 1em 2em;
  color: #2F80ED;
}
.button.inline {
  margin: 0 2px 1.75rem;
  line-height: 1.5rem;
  font-size: 1.0667rem;
  padding: 0.56em 2em;
  color: #2F80ED;
}
.button.secondary {
  font-size: 0.75rem;
  padding: 0.7em 2em;
}
.button.small {
  font-size: 0.625rem;
  padding: 0.55em 1em 0.6em;
}
.button.small.hasIcon {
  padding-top: 0.6em;
  padding-bottom: 0.55em;
}
.button.small.hasIcon .icon {
  transform: translateY(-0.1em);
}
.button.small:after {
  transform: translate(-87%, 28%) rotate(30deg);
}
.button.tiny {
  font-size: 0.525rem;
  padding: 0.3em 0.6em 0.25em;
}
.button.tiny.hasIcon {
  padding-left: 0.6em;
}
.button.tiny .icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.35em;
}
.button.hasIcon {
  padding-left: 1.5em;
}
.button.iconOnly {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  padding: 0;
  font-size: 0.625rem;
}
.button.iconOnly .icon {
  margin: 0;
}
.button.textOnly {
  border: 0;
  padding: 0;
  font-size: 0.875rem;
}
.button.textOnly:hover {
  text-decoration: underline;
}
.button.textOnly-small {
  font-size: 0.625rem;
}
.button.onDark {
  color: #5A6C8E;
}
.button.onDark:hover .buttonInner {
  color: white;
}
.button.gray, .button.grayDark, .button.color-gray {
  color: #c4c4c4;
}
.button.gray:hover .buttonInner, .button.grayDark:hover .buttonInner, .button.color-gray:hover .buttonInner {
  color: white;
}
.button.gray.active, .button.grayDark.active, .button.color-gray.active {
  color: #5A6C8E;
}
.button.gray.active .buttonInner, .button.grayDark.active .buttonInner, .button.color-gray.active .buttonInner {
  color: white;
}
.button.grayDark, .button.color-grayDark {
  color: #959595;
}
.button.color-red {
  color: red;
}
.button.color-red:hover .buttonInner {
  color: white;
}
.button.color-red.active {
  color: #5A6C8E;
}
.button.color-red.active .buttonInner {
  color: white;
}
.button.color-green {
  color: green;
}
.button.color-green:hover .buttonInner {
  color: white;
}
.button.color-green.active {
  color: #5A6C8E;
}
.button.color-green.active .buttonInner {
  color: white;
}
.button.arrowLeft, .button.arrowRight, .button.arrowDown {
  position: relative;
}
.button.arrowLeft .buttonInner:before, .button.arrowLeft .buttonInner:after, .button.arrowRight .buttonInner:before, .button.arrowRight .buttonInner:after, .button.arrowDown .buttonInner:before, .button.arrowDown .buttonInner:after {
  display: inline-block;
  position: relative;
  width: 0.5em;
  height: 0.5em;
  border-top: solid 2px;
  border-right: solid 2px;
  transition: transform 0.3s;
}
.button.arrowLeft {
  position: relative;
}
.button.arrowLeft .buttonInner {
  padding-left: 0.5em;
}
.button.arrowLeft .buttonInner:before {
  content: "";
  transform: rotate(-135deg);
  margin-right: 0.5em;
  margin-top: 0.1em;
}
.button.arrowLeft.textOnly .buttonInner {
  padding-left: 2em;
}
.button.arrowLeft.textOnly .buttonInner:before {
  margin-right: 0.3em;
}
.button.arrowRight .buttonInner {
  padding-right: 0.5em;
}
.button.arrowRight .buttonInner:after {
  content: "";
  margin-left: 0.5em;
  margin-top: 0.1em;
  transform: rotate(45deg);
}
.button.arrowDown {
  /*
  &:before{
      content:"";
      top: -0.15em;
      margin-left: 1em;
      transform: rotate(135deg);
      transition: transform time("hover");
  }
  */
}
.button.close {
  position: absolute;
  top: 0.25em;
  right: 0.2em;
  transform: rotate(45deg);
  font-size: 2em;
  line-height: 0.8em;
  border: 0;
  transition: transform 0.3s;
  z-index: 2000;
}
.button.close:hover {
  transform: rotate(45deg) scale(1.1);
}
.button.close:hover .buttonInner {
  color: inherit;
}
.button.close:after {
  display: none;
}
.button + .button {
  margin-left: 1em;
}
.button.progressLoader {
  padding: 0;
  transition: transform 0.2s, background 0.3s, border-radius 0.2s;
}
.button.progressLoader .buttonInner {
  display: block;
  position: relative;
  padding: 1em 2em;
  transition: opacity 0.3s, transform 0.3s;
}
.button.progressLoader .buttonInner:before, .button.progressLoader .buttonInner:after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.75em;
  line-height: 1.9em;
  color: #115bbf;
  opacity: 0;
  transition: opacity 0.3s;
}
.button.progressLoader .buttonInner:before {
  content: "✔";
}
.button.progressLoader .buttonInner:after {
  content: "×";
}
.button.progressLoader .progress {
  background: #2F80ED;
}
.button.progressLoader .progress-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #115bbf;
  opacity: 1;
}
.button.progressLoader.state-loading {
  transform: scaleY(0.3);
  border-radius: 0;
}
.button.progressLoader.state-loading .buttonInner {
  opacity: 0;
}
.button.progressLoader.state-loading .progress-inner {
  width: 100%;
  transition: width 3s, opacity 0.3s;
}
.button.progressLoader.state-loading:after {
  display: none;
}
.button.progressLoader.state-success {
  background: #2F80ED;
  color: white;
}
.button.progressLoader.state-success .buttonInner {
  transform: translateY(-100%);
}
.button.progressLoader.state-success .buttonInner:before {
  opacity: 1;
}
.button.progressLoader.state-success:after {
  display: none;
}
.button.progressLoader.state-error {
  background: #c54a4a;
  border-color: transparent;
}
.button.progressLoader.state-error .buttonInner {
  transform: translateY(-100%);
}
.button.progressLoader.state-error .buttonInner:after {
  opacity: 1;
  color: #932f2f;
}
.button.progressLoader.state-error:after {
  display: none;
}
.button.fillIcon:after {
  display: none;
}
.button.fillIcon svg {
  fill: none;
  transition: fill 0.3s;
}
.button.fillIcon:hover .buttonInner, .button.fillIcon.active .buttonInner {
  color: inherit;
}
.button.fillIcon:hover svg, .button.fillIcon.active svg {
  fill: currentColor;
}
.button .buttonInner {
  position: relative;
  transition: color 0.3s;
  z-index: 1000;
  pointer-events: none;
}
.button .icon {
  stroke: currentColor;
  width: 1.7em;
  height: 1.7em;
  margin-right: 0.5em;
}

input {
  color: inherit;
}

textarea {
  -webkit-appearance: none;
}

input, textarea {
  display: block;
  width: 100%;
  background: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
input[type=number], input[type=date], textarea[type=number], textarea[type=date] {
  font-family: "Lato", sans-serif;
}

[type=checkbox] {
  display: inline-block;
  width: 1rem;
  font-size: 2rem;
  -webkit-appearance: checkbox;
}

label {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #959595;
}
label .icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #c4c4c4;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  font-weight: bold;
  font-family: "arvo", serif;
  text-transform: initial;
}

select {
  visibility: hidden;
}

input, span {
  transition: color 0.3s;
}

span.blockInput {
  display: block;
  width: 100%;
}

.blockInput, .underlineInput, .outlineInput {
  position: relative;
  padding: 1em 1.25em;
  font-size: 0.875rem;
  line-height: 1.2em;
  overflow: hidden;
  color: #363636;
}
.blockInput.error, .underlineInput.error, .outlineInput.error {
  color: #c54a4a;
}
.blockInput.error ~ .inputMessage, .underlineInput.error ~ .inputMessage, .outlineInput.error ~ .inputMessage {
  color: #c54a4a;
}
.blockInput.complete, .blockInput:valid, .underlineInput.complete, .underlineInput:valid, .outlineInput.complete, .outlineInput:valid {
  color: #2F80ED;
}

.blockInput {
  background: #f7f7f7;
}
.blockInput.error {
  border-left: solid 3px #c54a4a;
}
.blockInput.complete {
  border-left: solid 3px #2F80ED;
  color: #2F80ED;
}
.blockInput ~ .count {
  background: white;
}

.underlineInput {
  border-bottom: solid 2px #eaeaea;
}
.underlineInput.error {
  border-bottom-color: #c54a4a;
}
.underlineInput.complete, .underlineInput.StripeElement--complete {
  border-bottom-color: #2F80ED;
}
.underlineInput ~ .inputMessage {
  position: absolute;
}
.underlineInput ~ .count {
  backgound: #eaeaea;
}

textarea.underlineInput {
  border-color: #eaeaea;
  outline: none;
}

.outlineInput {
  border: solid 1px #e9e9e9;
}
.outlineInput.error {
  border-bottom-color: #c54a4a;
}
.outlineInput ~ .inputMessage {
  position: absolute;
}
.outlineInput ~ .count {
  backgound: #eaeaea;
}
.outlineInput.onLightest {
  border-color: #c4c4c4;
  background: white;
}
.outlineInput.onLightest.moveLabelOnFocus + label {
  color: rgba(149, 149, 149, 0.6);
  background: transparent;
  z-index: 1;
  pointer-events: none;
}
.outlineInput.onLightest.moveLabelOnFocus + label:before {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f7f7f7;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.1s 0.1s;
}
.outlineInput.onLightest.moveLabelOnFocus:focus + label:before, .outlineInput.onLightest.moveLabelOnFocus:valid + label:before, .outlineInput.onLightest.moveLabelOnFocus.forceLabelAbove + label:before {
  opacity: 1;
}

.moveLabelOnFocus {
  z-index: 1;
}
.moveLabelOnFocus + label {
  position: absolute;
  top: 1.9em;
  left: 1rem;
  transform: translateY(-50%);
  margin-bottom: 0;
  line-height: 1rem;
  font-size: 0.75rem;
  color: inherit;
  transform-origin: left center;
  transition: transform 0.3s, opacity 0.3s;
}
.moveLabelOnFocus:focus + label, .moveLabelOnFocus:valid + label, .moveLabelOnFocus.forceLabelAbove + label {
  transform: translateY(-160%) scale(0.75);
  opacity: 0.6;
  z-index: 1;
}
.moveLabelOnFocus:focus ~ .currency, .moveLabelOnFocus:valid ~ .currency, .moveLabelOnFocus.forceLabelAbove ~ .currency {
  transform: translate(0, -50%);
  opacity: 1;
}
.moveLabelOnFocus.outlineInput + label {
  background: white;
  padding: 0 0.2em;
}
.moveLabelOnFocus.outlineInput + label + .inputMessage {
  margin-top: 0.75em;
}
.moveLabelOnFocus.outlineInput:focus + label, .moveLabelOnFocus.outlineInput:valid + label, .moveLabelOnFocus.outlineInput.forceLabelAbove + label {
  transform: translateY(-190%) scale(0.75);
  opacity: 1;
  color: rgba(149, 149, 149, 0.6);
}
.moveLabelOnFocus.text-align-center + label {
  left: calc( 50% - 2.7em );
}

textarea.moveLabelOnFocus + label {
  top: 1.5rem;
}
textarea.moveLabelOnFocus:focus + label, textarea.moveLabelOnFocus:valid + label, textarea.moveLabelOnFocus.forceLabelAbove + label {
  transform: translateY(-190%) scale(0.75);
  opacity: 0.6;
  z-index: 1;
}

.underlineInput.StripeElement, .blockInput.StripeElement {
  opacity: 0;
  transition: opacity 0.3s;
}
.underlineInput.StripeElement--focus, .underlineInput.StripeElement--complete, .underlineInput.StripeElement--invalid, .blockInput.StripeElement--focus, .blockInput.StripeElement--complete, .blockInput.StripeElement--invalid {
  opacity: 1;
}
.underlineInput.StripeElement--focus.moveLabelOnFocus ~ label, .underlineInput.StripeElement--complete.moveLabelOnFocus ~ label, .underlineInput.StripeElement--invalid.moveLabelOnFocus ~ label, .blockInput.StripeElement--focus.moveLabelOnFocus ~ label, .blockInput.StripeElement--complete.moveLabelOnFocus ~ label, .blockInput.StripeElement--invalid.moveLabelOnFocus ~ label {
  transform: translateY(-160%) scale(0.75);
  opacity: 0.6;
  z-index: 1;
}

.underlineInput-forStripeElement {
  position: absolute;
  top: 2.75rem;
  width: 100%;
  border-bottom: solid 2px #eaeaea;
  transition: border 0.3s;
}

.dark .underlineInput:not(.error):not(.complete) {
  color: #f7f7f7;
  border-bottom: solid 2px #4F4F4F;
}
.dark .underlineInput ~ .count {
  background: #4F4F4F;
}
.dark textarea.underlineInput {
  border-color: #4F4F4F;
}
.dark textarea.underlineInput.moveLabelOnFocus:focus + label, .dark textarea.underlineInput.moveLabelOnFocus:valid + label, .dark textarea.underlineInput.moveLabelOnFocus.forceLabelAbove + label {
  padding: 0 0.5em;
  background: #363636;
  color: #6f6f6f;
  opacity: 1;
}
.dark textarea.underlineInput.complete {
  border-color: #2F80ED;
}
.dark .select2-container--button .select2-selection--single, .dark .select2-container--button .select2-selection--multiple {
  background: #4F4F4F;
}
.dark .select2-container--button .select2-selection--single .select2-selection__placeholder, .dark .select2-container--button .select2-selection--multiple .select2-selection__placeholder {
  color: #c4c4c4;
}

@supports (--css: variables) {
  input[type=range].multirange {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
    background: linear-gradient(to right, #e9e9e9 0, #e9e9e9 100%) no-repeat 0 45%/100% 40%;
  }
  input[type=range].multirange:focus {
    outline: none;
  }
  input[type=range].multirange::-moz-focus-outer {
    border: 0;
  }
  input[type=range].multirange::-moz-range-track {
    border-color: transparent;
    /* needed to switch FF to "styleable" control */
    background: transparent;
  }
  input[type=range].multirange.original::-webkit-slider-thumb, input[type=range].multirange.ghost::-webkit-slider-thumb {
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    background: white;
    border: solid 1px #c4c4c4;
    width: 15px;
    height: 15px;
    transform: scale(1.25);
    border-radius: 50%;
  }
  input[type=range].multirange.original::-moz-range-thumb, input[type=range].multirange.ghost::-moz-range-thumb {
    transform: scale(1);
    z-index: 1;
    -moz-appearance: none;
    background: white;
    border: solid 1px #c4c4c4;
    width: 15px;
    height: 15px;
    transform: scale(1.25);
    border-radius: 50%;
  }
  input[type=range].multirange.original::-ms-thumb, input[type=range].multirange.ghost::-ms-thumb {
    -ms-appearance: none;
    appearance: none;
    background: white;
    border: solid 1px #c4c4c4;
    width: 15px;
    height: 15px;
    transform: scale(1.25);
    border-radius: 50%;
  }
  input[type=range].multirange.original {
    position: absolute;
  }
  input[type=range].multirange.ghost {
    position: relative;
    background: var(--track-background);
    --track-background: linear-gradient(to right,
    transparent var(--low), var(--range-color) 0,
    var(--range-color) var(--high), transparent 0
    ) no-repeat 0 45% / 100% 40%;
    --range-color: color("brand-blue");
  }
  input[type=range].multirange.ghost::-webkit-slider-runnable-track {
    background: var(--track-background);
  }
  input[type=range].multirange.ghost::-moz-range-track {
    background: var(--track-background);
  }
  input[type=range].multirange ~ .range-value {
    font-size: 0.75rem;
    color: #c4c4c4;
  }
  input[type=range].multirange ~ .range-value.high {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @media (max-width: 700px) {
    input[type=range].multirange ~ .range-value {
      line-height: 3em;
    }
  }
}
.form-group .form-item + .form-item {
  margin-top: 0.5rem;
}
.form-group + .form-item {
  margin-top: 2rem;
}

.form-row .form-item + .form-item {
  margin-top: 0;
}

.form-item {
  position: relative;
  width: 100%;
}
.form-item.error .form-input {
  color: #c54a4a;
  border-color: #c54a4a;
}
.form-item.error label {
  color: #c54a4a;
}
.form-item + .form-item, .form-item + .form-group {
  margin-top: 2rem;
}
.form-item.checkbox label {
  transform: none !important;
  color: #2F80ED !important;
  left: 0;
  margin-bottom: 0;
  position: relative;
  top: 0;
  font-size: 0.75em;
  text-transform: lowercase;
}
@media (min-width: 481px) {
  .form-item.sixth-width .form-item.quarter-width, .form-item.third-width, .form-item.half-width, .form-item.twoThird-width {
    display: inline-block;
    vertical-align: top;
  }
  .form-item.sixth-width {
    min-width: calc( 100% / 6);
    width: calc( 100% / 6 );
  }
  .form-item.sixth-width + .sixth-width, .form-item.sixth-width + .third-width, .form-item.sixth-width + .twoThird-width {
    margin-left: 1rem;
  }
  .form-item.quarter-width {
    width: calc(25% - 0.9rem);
  }
  .form-item.quarter-width + .quarter-width, .form-item.quarter-width + .half-width {
    margin-left: 1rem;
  }
  .form-item.third-width {
    width: calc( 100% / 3 );
  }
  .form-item.third-width + .sixth-width, .form-item.third-width + .third-width, .form-item.third-width + .twoThird-width {
    margin-left: 1rem;
  }
  .form-item.half-width {
    width: calc( 50% - 0.75rem );
  }
  .form-item.half-width:nth-of-type(2) {
    margin-top: 0;
  }
  .form-item.half-width:nth-of-type(2n) {
    margin-left: 1rem;
  }
  .form-item.half-width:nth-of-type(1n + 3) {
    margin-top: 1rem;
  }
  .form-item.half-width + .quarter-width {
    margin-left: 1rem;
  }
  .form-item.twoThird-width {
    width: calc( ((100% / 3) * 2) - 1.5rem );
  }
  .form-item.twoThird-width + .third-width {
    margin-left: 1rem;
  }
}
.form-item label {
  margin-bottom: 0.5em;
}

.form-input {
  position: relative;
  width: 100%;
  font-size: 1.0667rem;
  line-height: 1.5rem;
  transition: color 0.3s;
}
.form-input.required {
  position: relative;
  border-left: solid 3px;
}
.form-input.label-above label {
  display: block;
}
.form-input .count {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.75rem;
  padding: 0 0.5em;
  z-index: 10;
  transition: color 0.3s, background 0.3s;
}
.form-input .count.warning {
  color: white;
  background: #c19e4d;
}
.form-input .count.error {
  color: white;
  background: #c54a4a;
}
.form-input .instruct {
  margin-top: 0.75em;
  padding-left: 1.5em;
  padding-right: 1.25em;
  font-size: 0.75rem;
  line-height: 1.2em;
  color: #959595;
}
.form-input .inputMessage {
  padding-left: 1.5em;
  padding-right: 1.25em;
}
.form-input.dropdown label {
  position: absolute;
  top: -0.35em;
  left: 2.1em;
  padding: 0 0.2em;
  color: rgba(149, 149, 149, 0.6);
  font-size: 0.5625rem;
  line-height: 1em;
  background: white;
  z-index: 1050;
}
.form-input.dropdown .instruct {
  margin-top: 0.25em;
}
.form-input.dropdown.onLightest label {
  background: transparent;
  z-index: 1;
}
.form-input.dropdown.onLightest label:before {
  content: "";
  position: absolute;
  top: 28%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f7f7f7;
  z-index: -1;
}
.form-input.dropdown.onLightest .rs3__selection {
  border-color: #c4c4c4;
}
.form-input.dropdown.hideSearch .rs3__search {
  display: none;
}
.form-input.dropdown.showReset {
  padding-bottom: 0.75em;
}
.form-input.dropdown .clearSelect {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.625rem;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.form-input[type=checkbox] {
  background: blue;
}

.inputMessage, .pass-strength-message {
  font-size: 0.75rem;
  line-height: 1.5em;
}

.globalHeader {
  position: sticky;
  top: 0;
  transform: translateZ(0);
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  z-index: 5000;
  transition: transform 0.5s cubic-bezier(0.43, 0.42, 0.3, 1.45);
}

.header-branding {
  position: relative;
  margin-right: 5em;
  background: #2F80ED;
  font-size: 0.75rem;
}
.header-branding:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5em 0 0 2.5em;
  border-color: transparent transparent transparent #2F80ED;
}

.header-title {
  color: white;
  font-size: inherit;
  padding: 1.5em 2em 1.5em 3em;
}

.header-logo {
  width: 10em;
}

.globalNav {
  width: 100%;
}

.menu-item {
  position: relative;
  margin: 0 2em;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #797979;
  transition: color 0.3s 2s;
  /*&:after{
      content:"";
      position: absolute;
      bottom: -0.25em;
      left: calc(50% - 1.5rem);
      width: 3rem;
      height: 0.5em;
      transform: translateY(1rem);
      opacity: 0;
      pointer-events: none;
      transition: transform time("hover") 2s, opacity time("hover") 2s;
  }*/
}
.menu-item.active:after {
  opacity: 1;
  transform: translateY(0);
}
.menu-item.writeAccessRequired {
  display: none;
}
.menu-item .icon {
  margin-top: -0.25em;
  margin-right: 0.7em;
  stroke: #1E1F21;
}
@media (max-width: 1200px) {
  .menu-item {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

#root[data-usergroup=admin] .menu-item.writeAccessRequired, #root[data-usergroup=editor] .menu-item.writeAccessRequired {
  display: block;
}

.subnav {
  height: 3rem;
  background: #274779;
}
.subnav .menuItem, .subnav li {
  font-size: 0.75rem;
  font-weight: 700;
}

.parents, .parents-list {
  position: relative;
  height: 100%;
}

.parents-item, .siblings-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  line-height: 1.25em;
}

.parents-item {
  position: relative;
  padding: 0 2em 0 4em;
  color: white;
}
.parents-item:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translate(100%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2em 0 2em 1.4em;
  border-color: transparent;
}
.parents-item:nth-last-of-type(3) {
  background: #1C355F;
  z-index: 10;
}
.parents-item:nth-last-of-type(3):after {
  border-left-color: #1C355F;
}
.parents-item:nth-last-of-type(3):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10em;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(to left, #1C355F 0%, #274779 100%);
}
.parents-item:nth-last-of-type(2) {
  background: #223E6B;
  z-index: 5;
}
.parents-item:nth-last-of-type(2):after {
  border-left-color: #223E6B;
}
.parents-item:nth-last-of-type(2):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10em;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(to left, #223E6B 0%, #274779 100%);
}
.parents-item a {
  display: block;
}

.siblings {
  max-width: 55%;
  color: #7A8BA7;
}
.siblings > a {
  min-width: 5.3em;
}

.siblings-intro {
  padding-right: 1.5em;
  font-size: 0.625rem;
  font-weight: 700;
}

.siblings-list {
  margin-right: 1em;
}

.siblings-item {
  padding: 0 1em;
}
.siblings-item a {
  max-height: 1.1em;
  overflow: hidden;
}

.globalFooter {
  position: relative;
  top: 0;
  background: #f7f7f7;
}

.footerNav-column + .footerNav-column {
  margin-left: 2em;
}

.footerNav-title {
  text-transform: capitalize;
}

#root {
  overflow-x: hidden;
}
#root > div {
  min-height: 100vh;
}

@media (min-width: 1281px) {
  .contentWrap {
    margin-top: 5rem;
  }
  .contentWrap.dark {
    margin-top: 0.75rem;
    padding-top: 4rem;
  }
}
@media (min-width: 801px) and (max-width: 1280px) {
  .contentWrap {
    margin-top: 4rem;
  }
  .contentWrap.dark {
    margin-top: 0.8rem;
    padding-top: 3.2rem;
  }
}
@media (max-width: 800px) {
  .contentWrap {
    margin-top: 2rem;
  }
  .contentWrap.dark {
    margin-top: 0.25rem;
    padding-top: 1.75rem;
  }
}
.contentWrap.dark {
  background: #363636;
}

.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}

.flex {
  display: flex;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex.flex-column {
  flex-direction: column;
}
@media (max-width: 700px) {
  .flex.mobile-flex-wrap {
    flex-wrap: wrap;
  }
}
.flex + .flex {
  margin-top: 2em;
}
.flex.matchHeight {
  align-items: stretch;
}
.flex.vertical-center {
  align-items: center;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.align-end {
  align-items: flex-end;
}
.flex.justify-start {
  justify-content: flex-start;
}
.flex.justify-end {
  justify-content: flex-end;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.justify-around {
  justify-content: space-around;
}
.flex.threeColumn > .column {
  width: calc(100% / 3);
}
.flex .flex-grow {
  flex-grow: 1;
}

.flex-align-right {
  margin-left: auto;
}

.grid {
  display: grid;
  grid-template-rows: auto;
}
.grid.twoColumn {
  grid-template-columns: 1fr 1fr;
}
.grid.threeColumn {
  grid-template-columns: 1fr 1fr 1fr;
}
@media (min-width: 801px) {
  .grid.fourColumn {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .grid.fourColumn {
    grid-template-columns: 1fr 1fr;
  }
}
.grid.span2 {
  grid-column-start: span 2;
}
.grid.span2.matchColumns {
  grid-template-columns: 1fr 1fr;
}
.grid.span3 {
  grid-column-start: span 3;
}
.grid.span3.matchColumns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid.span4 {
  grid-column-start: span 4;
}
.grid.span4.matchColumns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid.spacing-xxlarge {
  grid-column-gap: 6em;
  grid-row-gap: 6em;
}
.grid.spacing-xlarge {
  grid-column-gap: 4em;
  grid-row-gap: 4em;
}
.grid.spacing-large {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}
.grid.spacing-medium {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
.grid.spacing-small {
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}
.grid.spacing-x-xlarge {
  grid-column-gap: 4em;
}
.grid.spacing-y-xlarge {
  grid-row-gap: 4em;
}
.grid.spacing-y-medium {
  grid-row-gap: 1em;
}

.align-left {
  position: absolute;
  top: 0;
  left: 0;
}
.align-right {
  position: absolute;
  top: 0;
  right: 0;
}
.align-bottom {
  position: absolute;
  bottom: 0;
}
.align-centerX {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.align-centerY {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}
.align-centerXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-x > * {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.center-y > * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.center-xy > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.padding-xxlarge {
  padding: 6em;
}

.padding-y-xxlarge {
  padding-top: 6em;
  padding-bottom: 6em;
}

.padding-x-xxlarge {
  padding-left: 6em;
  padding-right: 6em;
}
@media (max-width: 480px) {
  .padding-x-xxlarge {
    padding-left: 3em;
    padding-right: 3em;
  }
}

.margin-top-xxlarge {
  margin-top: 6em;
}
.margin-bottom-xxlarge {
  margin-bottom: 6em;
}
.margin-left-xxlarge {
  margin-left: 6em;
}
.margin-right-xxlarge {
  margin-right: 6em;
}

.padding-xlarge {
  padding: 4em;
}

.padding-y-xlarge {
  padding-top: 4em;
  padding-bottom: 4em;
}

.padding-x-xlarge {
  padding-left: 4em;
  padding-right: 4em;
}
@media (max-width: 480px) {
  .padding-x-xlarge {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.margin-top-xlarge {
  margin-top: 4em;
}
.margin-bottom-xlarge {
  margin-bottom: 4em;
}
.margin-left-xlarge {
  margin-left: 4em;
}
.margin-right-xlarge {
  margin-right: 4em;
}

.padding-large {
  padding: 2em;
}

.padding-y-large {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-x-large {
  padding-left: 2em;
  padding-right: 2em;
}
@media (max-width: 480px) {
  .padding-x-large {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.margin-top-large {
  margin-top: 2em;
}
.margin-bottom-large {
  margin-bottom: 2em;
}
.margin-left-large {
  margin-left: 2em;
}
.margin-right-large {
  margin-right: 2em;
}

.padding-medium {
  padding: 1em;
}

.padding-y-medium {
  padding-top: 1em;
  padding-bottom: 1em;
}

.padding-x-medium {
  padding-left: 1em;
  padding-right: 1em;
}
@media (max-width: 480px) {
  .padding-x-medium {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.margin-top-medium {
  margin-top: 1em;
}
.margin-bottom-medium {
  margin-bottom: 1em;
}
.margin-left-medium {
  margin-left: 1em;
}
.margin-right-medium {
  margin-right: 1em;
}

.padding-small {
  padding: 0.5em;
}

.padding-y-small {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.padding-x-small {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media (max-width: 480px) {
  .padding-x-small {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
}

.margin-top-small {
  margin-top: 0.5em;
}
.margin-bottom-small {
  margin-bottom: 0.5em;
}
.margin-left-small {
  margin-left: 0.5em;
}
.margin-right-small {
  margin-right: 0.5em;
}

.padding-xsmall {
  padding: 0.25em;
}

.padding-y-xsmall {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.padding-x-xsmall {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
@media (max-width: 480px) {
  .padding-x-xsmall {
    padding-left: 0.125em;
    padding-right: 0.125em;
  }
}

.margin-top-xsmall {
  margin-top: 0.25em;
}
.margin-bottom-xsmall {
  margin-bottom: 0.25em;
}
.margin-left-xsmall {
  margin-left: 0.25em;
}
.margin-right-xsmall {
  margin-right: 0.25em;
}

.vert-list-spacing-large > * {
  margin-top: 2em;
  margin-bottom: 2em;
}
.vert-list-spacing-medium > * {
  margin-top: 1em;
  margin-bottom: 1em;
}
@media (min-width: 701px) {
  .vert-list-spacing-small > * {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 700px) {
  .vert-list-spacing-small > * {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}
.vert-list-spacing-xsmall > * {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}
.vert-list-spacing-large > *:first-of-type, .vert-list-spacing-medium > *:first-of-type, .vert-list-spacing-small > *:first-of-type, .vert-list-spacing-xsmall > *:first-of-type {
  margin-top: 0;
}
.vert-list-spacing-large > *:last-of-type, .vert-list-spacing-medium > *:last-of-type, .vert-list-spacing-small > *:last-of-type, .vert-list-spacing-xsmall > *:last-of-type {
  margin-bottom: 0;
}

.horz-list-spacing-large > .list-item + .list-item {
  margin-left: 2em;
}
.horz-list-spacing-medium > .list-item + .list-item {
  margin-left: 1em;
}
.horz-list-spacing-small > .list-item + .list-item {
  margin-left: 0.5em;
}
.horz-list-spacing-xsmall > .list-item + .list-item {
  margin-left: 0.25em;
}

.viewport-width-twenty {
  width: 20vw;
}

.viewport-min-width-twenty {
  min-width: 20vw;
}

.viewport-width-twentyFive {
  width: 25vw;
}

.viewport-min-width-twentyFive {
  min-width: 25vw;
}

.viewport-width-thirty {
  width: 30vw;
}

.viewport-min-width-thirty {
  min-width: 30vw;
}

.viewport-width-oneThird {
  width: 33.333333vw;
}

.viewport-min-width-oneThird {
  min-width: 33.333333vw;
}

.viewport-width-thirtyFive {
  width: 35vw;
}

.viewport-min-width-thirtyFive {
  min-width: 35vw;
}

.viewport-width-forty {
  width: 40vw;
}

.viewport-min-width-forty {
  min-width: 40vw;
}

.viewport-width-fortyFive {
  width: 45vw;
}

.viewport-min-width-fortyFive {
  min-width: 45vw;
}

.viewport-width-fifty {
  width: 50vw;
}

.viewport-min-width-fifty {
  min-width: 50vw;
}

.viewport-width-fiftyFive {
  width: 55vw;
}

.viewport-min-width-fiftyFive {
  min-width: 55vw;
}

.viewport-width-sixty {
  width: 60vw;
}

.viewport-min-width-sixty {
  min-width: 60vw;
}

.viewport-width-sixtyFive {
  width: 65vw;
}

.viewport-min-width-sixtyFive {
  min-width: 65vw;
}

.viewport-width-twoThird {
  width: 66.666666vw;
}

.viewport-min-width-twoThird {
  min-width: 66.666666vw;
}

.viewport-width-seventy {
  width: 70vw;
}

.viewport-min-width-seventy {
  min-width: 70vw;
}

.viewport-width-seventyFive {
  width: 75vw;
}

.viewport-min-width-seventyFive {
  min-width: 75vw;
}

.viewport-width-eighty {
  width: 80vw;
}

.viewport-min-width-eighty {
  min-width: 80vw;
}

.viewport-width-eightyFive {
  width: 85vw;
}

.viewport-min-width-eightyFive {
  min-width: 85vw;
}

.viewport-width-ninety {
  width: 90vw;
}

.viewport-min-width-ninety {
  min-width: 90vw;
}

.viewport-width-ninetyFive {
  width: 95vw;
}

.viewport-min-width-ninetyFive {
  min-width: 95vw;
}

.viewport-width-full {
  width: 100vw;
}

.viewport-min-width-full {
  min-width: 100vw;
}

.percentage-width-twenty {
  width: 20%;
}

.percentage-width-twentyFive {
  width: 25%;
}

.percentage-width-thirty {
  width: 30%;
}

.percentage-width-oneThird {
  width: 33.333333%;
}

.percentage-width-thirtyFive {
  width: 35%;
}

.percentage-width-forty {
  width: 40%;
}

.percentage-width-fortyFive {
  width: 45%;
}

.percentage-width-fifty {
  width: 50%;
}

.percentage-width-fiftyFive {
  width: 55%;
}

.percentage-width-sixty {
  width: 60%;
}

.percentage-width-sixtyFive {
  width: 65%;
}

.percentage-width-twoThird {
  width: 66.666666%;
}

.percentage-width-seventy {
  width: 70%;
}

.percentage-width-seventyFive {
  width: 75%;
}

.percentage-width-eighty {
  width: 80%;
}

.percentage-width-eightyFive {
  width: 85%;
}

.percentage-width-ninety {
  width: 90%;
}

.percentage-width-ninetyFive {
  width: 95%;
}

.percentage-width-full {
  width: 100%;
}

.minFullWidth {
  min-width: 100vw;
}

.fullWidth {
  width: 100vw;
}

.fullWidth-percent {
  width: 100%;
}

.minFullHeight {
  min-height: 100vh;
}

.fullHeight {
  height: 100vh;
}

.fullHeight-minusMenu {
  min-height: calc(100vh - 2.95rem);
}

.viewport-height-twenty {
  height: 20vh;
}

.viewport-height-twentyFive {
  height: 25vh;
}

.viewport-height-thirty {
  height: 30vh;
}

.viewport-height-oneThird {
  height: 33.333333vh;
}

.viewport-height-thirtyFive {
  height: 35vh;
}

.viewport-height-forty {
  height: 40vh;
}

.viewport-height-fortyFive {
  height: 45vh;
}

.viewport-height-fifty {
  height: 50vh;
}

.viewport-height-fiftyFive {
  height: 55vh;
}

.viewport-height-sixty {
  height: 60vh;
}

.viewport-height-sixtyFive {
  height: 65vh;
}

.viewport-height-twoThird {
  height: 66.666666vh;
}

.viewport-height-seventy {
  height: 70vh;
}

.viewport-height-seventyFive {
  height: 75vh;
}

.viewport-height-eighty {
  height: 80vh;
}

.viewport-height-eightyFive {
  height: 85vh;
}

.viewport-height-ninety {
  height: 90vh;
}

.viewport-height-ninetyFive {
  height: 95vh;
}

.viewport-height-full {
  height: 100vh;
}

.percentage-height-twenty {
  height: 20%;
}

.percentage-height-twentyFive {
  height: 25%;
}

.percentage-height-thirty {
  height: 30%;
}

.percentage-height-oneThird {
  height: 33.333333%;
}

.percentage-height-thirtyFive {
  height: 35%;
}

.percentage-height-forty {
  height: 40%;
}

.percentage-height-fortyFive {
  height: 45%;
}

.percentage-height-fifty {
  height: 50%;
}

.percentage-height-fiftyFive {
  height: 55%;
}

.percentage-height-sixty {
  height: 60%;
}

.percentage-height-sixtyFive {
  height: 65%;
}

.percentage-height-twoThird {
  height: 66.666666%;
}

.percentage-height-seventy {
  height: 70%;
}

.percentage-height-seventyFive {
  height: 75%;
}

.percentage-height-eighty {
  height: 80%;
}

.percentage-height-eightyFive {
  height: 85%;
}

.percentage-height-ninety {
  height: 90%;
}

.percentage-height-ninetyFive {
  height: 95%;
}

.percentage-height-full {
  height: 100%;
}

.innerWrap {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.innerWrap.addPadding {
  padding: 0 2rem;
}
.innerWrap.large {
  max-width: 1400px;
}
.innerWrap.large.addPadding {
  max-width: calc(1400px + 10%);
  padding: 0 5%;
}
.innerWrap.medium {
  max-width: 1200px;
}
.innerWrap.medium.addPadding {
  padding: 0 4%;
}
.innerWrap.small {
  max-width: 1000px;
}
.innerWrap.small.addPadding {
  padding: 0 3%;
}
.innerWrap.xsmall-min {
  min-width: 800px;
}
.innerWrap.xsmall-min.addPadding {
  padding: 0 3%;
}
.innerWrap.tiny {
  max-width: 500px;
}
.innerWrap.tiny.addPadding {
  padding: 0 2%;
}

.objectFit-cover {
  object-fit: cover;
}
.objectFit-contain {
  object-fit: contain;
}

@media (min-width: 801px) {
  .desktop-hide {
    display: none;
  }
}
@media (max-width: 800px) {
  .mobile-hide {
    display: none;
  }
}
@media (min-width: 426px) {
  .phone-show {
    display: none;
  }
}
@media (max-width: 425px) {
  .phone-hide {
    display: none !important;
  }
}
.noData {
  display: none;
}

.dataSection {
  padding-top: 3em;
}
.dataSection + .dataSection {
  margin-top: 2em;
}
.dataSection.hide + .dataSection {
  margin-top: 0;
}
.dataSection.hide {
  display: none;
}

.noData + .dataSection {
  margin-top: 4em;
}

.graphWrap {
  position: relative;
  margin-top: 2em;
  border: solid 1px #e9e9e9;
}
.graphWrap + .tableWrap {
  margin-top: 1em;
}

.graphHeader {
  position: relative;
  padding: 1.5em;
}
.graphHeader .button.saveJPG {
  position: absolute;
  top: 0;
  right: 0;
  border-right: 0;
  border-top: 0;
  border-color: #e9e9e9;
}

.graphBody {
  padding-left: 1.5em;
  padding-bottom: 1.5em;
}

.tableWrap {
  border: solid 1px #e9e9e9;
}

.tableHeader {
  border-bottom: solid 1px #e9e9e9;
}
.tableHeader label {
  font-size: 0.75rem;
}

.tableColumn {
  padding: 1em 2em;
}
.tableColumn.name {
  flex-grow: 1;
  min-width: 40%;
}
.tableColumn.redirect {
  width: 48%;
  border-left: dashed 1px #e9e9e9;
}
.tableColumn.redirect p {
  font-size: 0.75rem;
  line-height: 1.25em;
}
.tableColumn.count {
  width: 12%;
  min-width: 7em;
  border-left: dashed 1px #e9e9e9;
}
.tableColumn p {
  word-wrap: break-word;
  font-weight: 700;
}

.tableRow {
  position: relative;
  color: #5A6C8E;
  z-index: 1;
}
.tableRow .tableRow-inner {
  align-items: center;
}
.tableRow .barWrap {
  position: absolute;
  top: 2px;
  left: 0;
  width: 88%;
  max-width: calc( 100% - 7em );
  height: calc( 100% - 4px);
  z-index: -1;
}
.tableRow .bar {
  height: 100%;
  background: #f2f2f2;
}

/* d3 styling */
.d3 .axis .domain {
  stroke: #e9e9e9;
}
.d3 .axis .tick line {
  stroke: #e9e9e9;
  stroke-dasharray: 3 2;
}
.d3 .axis .tick text {
  fill: #c4c4c4;
}
.d3 .axis.axis-y .domain {
  display: none;
}
.canvasForSavingImage {
  position: absolute;
  bottom: 0;
  height: 0;
  overflow: hidden;
}

/* CAROUSEL MODULE */
.dataSection[data-type=carousel] .graphWrap {
  width: 700px;
}
.dataSection[data-type=carousel] .tableWrap {
  width: calc( 100% - 716px );
  margin-left: 16px;
  margin-top: 2em;
}
.dataSection[data-type=carousel] .tableRow .tableColumn.name, .dataSection[data-type=carousel] .tableRow .tableColumn.count {
  font-size: 0.875rem;
}
.dataSection[data-type=carousel] .tableRow .tableColumn.name p, .dataSection[data-type=carousel] .tableRow .tableColumn.count p {
  font-size: inherit;
}
.dataSection[data-type=carousel] .tableRow .tableColumn.count {
  min-width: 8em;
}
.dataSection[data-type=carousel] .tableRow:first-of-type {
  color: #C73369;
}
.dataSection[data-type=carousel] .tableRow:nth-of-type(2) {
  color: #2F80ED;
}
.dataSection[data-type=carousel] .tableRow:nth-of-type(3) {
  color: #5DC7D1;
}
.dataSection[data-type=carousel] .tableRow:nth-of-type(4) {
  color: #C8D444;
}
.dataSection[data-type=carousel] .tableRow:nth-of-type(5) {
  color: #F18933;
}
.dataSection[data-type=carousel] .tableRow:nth-of-type(6) {
  color: #223E6B;
}
.dataSection[data-type=carousel] .tableRow:nth-of-type(7) {
  color: #F9CF46;
}
.dataSection[data-type=carousel] .tableRow:nth-of-type(8) {
  color: #BD4432;
}
.dataSection[data-type=carousel] .tableRow:nth-of-type(9) {
  color: #0E0D0E;
}

.emptyTable {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c4c4c4;
}
.emptyTable div {
  font-size: 0;
}

.dataSection[data-type=video] .videoMetrics:nth-of-type(2) {
  margin-left: 16px;
}
.dataSection[data-type=video] .videoMetrics .emptyTable {
  height: calc( 100% - 2.5em );
}
.dataSection[data-type=video] .videoMetrics .emptyTable:after {
  content: "No User Engaged Video Data";
  font-size: 1em;
}
.dataSection[data-type=video] .tableRow .tableColumn.name, .dataSection[data-type=video] .tableRow .tableColumn.count {
  font-size: 0.875rem;
}
.dataSection[data-type=video] .tableRow .tableColumn.name p, .dataSection[data-type=video] .tableRow .tableColumn.count p {
  font-size: inherit;
}
.dataSection[data-type=video] .tableRow .tableColumn.count {
  min-width: 8em;
}
.dataSection[data-type=video] .tableRow:first-of-type {
  color: #C73369;
}
.dataSection[data-type=video] .tableRow:nth-of-type(2) {
  color: #2F80ED;
}
.dataSection[data-type=video] .tableRow:nth-of-type(3) {
  color: #5DC7D1;
}
.dataSection[data-type=video] .tableRow:nth-of-type(4) {
  color: #C8D444;
}
.dataSection[data-type=video] .tableRow:nth-of-type(5) {
  color: #F18933;
}
.dataSection[data-type=video] .tableRow:nth-of-type(6) {
  color: #223E6B;
}
.dataSection[data-type=video] .tableRow:nth-of-type(7) {
  color: #F9CF46;
}
.dataSection[data-type=video] .tableRow:nth-of-type(8) {
  color: #BD4432;
}
.dataSection[data-type=video] .tableRow:nth-of-type(9) {
  color: #0E0D0E;
}

/* z-indexes */
/* font sizes */
/* font weights */
@keyframes closeBurst {
  80% {
    transform: scale(1.1) rotate(45deg);
  }
  100% {
    transform: scale(1) rotate(45deg);
  }
}
@keyframes button-dot-intro {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.75, 0.75);
  }
}
@keyframes button-dot-pulse {
  0% {
    opacity: 1;
    transform: scale(0.75, 0.75);
  }
  15% {
    transform: scale(0.85, 0.85);
  }
  45% {
    transform: scale(0.75, 0.75);
  }
  55% {
    transform: scale(0.95, 0.95);
  }
  85% {
    transform: scale(0.75, 0.75);
  }
  100% {
    opacity: 1;
    transform: scale(0.75, 0.75);
  }
}
@keyframes button-ready {
  0% {
    margin-left: 1.25rem;
    width: 2.5rem;
  }
  10% {
    background-color: #5585ff;
    border-color: #5585ff;
  }
  70% {
    margin: 0;
    width: 7.25rem;
    background-color: #fff;
    transform: scale(1.1, 1.1);
  }
  100% {
    margin: 0;
    width: 7rem;
    border-color: #8cce1e;
    background-color: #fff;
  }
}
@keyframes button-dot-outro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1, 1);
  }
}
@keyframes button-ready-label {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes pulse {
  0%, 20% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
}
#root[data-usergroup=viewer] .projectPage .pageTitle .button {
  display: none;
}

.projectPage .introStats .dataGroup + .dataGroup {
  border-left: solid 1px rgba(90, 108, 142, 0.5);
}
.projectPage .form-item[data-content=operative_id] + .button {
  top: 1em;
  left: 18.25em;
  z-index: 1050;
}
.projectPage .form-item[data-content=operative_id]:focus-within + .button {
  color: #2F80ED;
}

.benchmarks table {
  width: 100%;
}
.benchmarks table td.click {
  cursor: pointer;
}
.benchmarks .averages {
  margin: 10px 0;
}
.benchmarks .averages span {
  padding-right: 10px;
}
.benchmarks .modal {
  position: fixed;
  top: 50%;
  z-index: 10000;
  width: 50%;
  height: auto;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 10px;
}
.benchmarks .modal h1 {
  font-size: 1.75vw;
}
.benchmarks .modal .close {
  position: absolute;
  top: 0;
  right: 0;
  color: #1C355F;
  transition: 0.5s;
}
.benchmarks .modal .close:hover {
  color: #c73369;
}
.benchmarks .modal-inner {
  position: relative;
}

/*# sourceMappingURL=master.css.map */
