/* z-indexes */
/* font sizes */
/* font weights */
@keyframes closeBurst {
  80% {
    transform: scale(1.1) rotate(45deg); }
  100% {
    transform: scale(1) rotate(45deg); } }

@keyframes button-dot-intro {
  0% {
    opacity: 0; }
  60% {
    opacity: 1;
    transform: scale(1, 1); }
  100% {
    transform: scale(0.75, 0.75); } }

@keyframes button-dot-pulse {
  0% {
    opacity: 1;
    transform: scale(0.75, 0.75); }
  15% {
    transform: scale(0.85, 0.85); }
  45% {
    transform: scale(0.75, 0.75); }
  55% {
    transform: scale(0.95, 0.95); }
  85% {
    transform: scale(0.75, 0.75); }
  100% {
    opacity: 1;
    transform: scale(0.75, 0.75); } }

@keyframes button-ready {
  0% {
    margin-left: 1.25rem;
    width: 2.5rem; }
  10% {
    background-color: #5585ff;
    border-color: #5585ff; }
  70% {
    margin: 0;
    width: 7.25rem;
    background-color: #fff;
    transform: scale(1.1, 1.1); }
  100% {
    margin: 0;
    width: 7rem;
    border-color: #8cce1e;
    background-color: #fff; } }

@keyframes button-dot-outro {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1, 1); } }

@keyframes button-ready-label {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(-40px); } }

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  30% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes pulse {
  0%, 20% {
    transform: scale(1); }
  10% {
    transform: scale(1.1); } }

.searchPage .button.startOver {
  position: absolute;
  right: 6.4em; }

.searchStep {
  position: relative; }

.searchStep-number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.3em 1em 0.7em 0.7em;
  border-bottom-right-radius: 1.25em;
  background: white;
  font-weight: bold;
  color: #c4c4c4; }

.searchStep.step2 {
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 0.3s, transform 0.5s; }
  .searchStep.step2.show {
    opacity: 1;
    transform: translateY(0); }
  .searchStep.step2 .separator-or p {
    margin-top: 0.3em; }

.searchStep.step3 .form-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4em;
  grid-row-gap: 4em; }

.searchResult {
  padding: 2em;
  border: solid 1px #c4c4c4;
  /*&-id{
        position: relative;
        margin-right: 1.5em;
        padding: 0.53em 0.75em;
        border-radius: 50%;
        background: color("background");
        &:after{
            content: "id";
            position: absolute;
            top:0;
            left:0;
            transform: translate(-70%, -30%);
            font-size: fontSize("tiny");
            padding: 0 0.75em;
            border-radius: 50%;
            color: color( "light" );
            background: color("lightest");
        }
    }
    &-name, &-campaign{
        position: relative;
        padding-top: 0.25em;
        color: color("brand-blue");
        &:before{
            position: absolute;
            top: -0.35em;
            color: color( "light" );
            font-size: fontSize( "tiny" );
            line-height: 1em;
            font-weight: normal;
        }
    }
    &-name{
        min-width: 8em;
        &:before{
            content: 'name';
        }
    }
    &-campaign{
        min-width: 6em;
        margin-left: 3em;
        &:before{
            content: 'campaign';
        }
    }*/ }
  .searchResult .advertiser-group-letter {
    top: 1.35em;
    left: 1em; }
