////////////////////* includes *///////////////////////////
@import '_vars';
@import '_animations';
@import '_functions';

.searchPage{
    .button.startOver{
        position: absolute;
        right: 6.4em;
    }
}

.searchStep{
    position: relative;
}
.searchStep-number{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3em 1em 0.7em 0.7em;
    border-bottom-right-radius: 1.25em;
    background: color( "background" );
    font-weight: bold;
    color: color( "light" );
}

.searchStep{

    //all subsequent steps
    &.step2{
        //display: none;
        opacity: 0;
        transform: translateY( 3rem );
        transition: opacity time("hover"), transform time("transition");
        &.show{
            opacity:1;
            transform: translateY( 0 );
        }

        .separator{
            &-or{
                p{
                    margin-top: 0.3em;
                }
            }
        }
    }

    &.step3{
        .form-row{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 4em;
            grid-row-gap: 4em;
        }
    }
}

.searchResult{
    padding: 2em;
    border: solid 1px #c4c4c4;
    .advertiser-group-letter{
        top: 1.35em;
        left: 1em;
    }
    /*&-id{
        position: relative;
        margin-right: 1.5em;
        padding: 0.53em 0.75em;
        border-radius: 50%;
        background: color("background");
        &:after{
            content: "id";
            position: absolute;
            top:0;
            left:0;
            transform: translate(-70%, -30%);
            font-size: fontSize("tiny");
            padding: 0 0.75em;
            border-radius: 50%;
            color: color( "light" );
            background: color("lightest");
        }
    }
    &-name, &-campaign{
        position: relative;
        padding-top: 0.25em;
        color: color("brand-blue");
        &:before{
            position: absolute;
            top: -0.35em;
            color: color( "light" );
            font-size: fontSize( "tiny" );
            line-height: 1em;
            font-weight: normal;
        }
    }
    &-name{
        min-width: 8em;
        &:before{
            content: 'name';
        }
    }
    &-campaign{
        min-width: 6em;
        margin-left: 3em;
        &:before{
            content: 'campaign';
        }
    }*/
}
